<!DOCTYPE html>
<html lang="ko">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>진주목공예전수관</title>
 </head>
<body>

<div style="position:relative;width:700px;margin:0 auto;background:#fff;font-family:'NanumGothic','나눔고딕',NanumGothic,'맑은 고딕','Malgun Gothic','돋움',Dotum,AppleGothic,helvetica,sans-serif;">
  <h1 style="width:600px;height:37px;padding:32px 0 13px 0;margin:0 auto;"><img src="/assets/images/woodcraft/www/email/logo.png" alt="진주목공예전수관" /></h1>
  <div style="position:relative;width:600px;min-height:350px;height:auto !important;height:350px;margin:0 auto;padding:20px 30px;border:2px solid #dddddd;box-sizing: border-box;line-height:1.3;">

    <!-- 내용 -->
      <div style="text-align:center;">
        <img src="/assets/images/woodcraft/www/lib/ic1complete1@x2.png" alt="" width="120" height="120" />
        <p style="font-size:18px;color:#111;font-weight:600;margin:10px 0;">프로그램 예약이 완료되었습니다.</p>
        <p style="font-size:14px;color:#333;margin:10px 0;line-height:1.666;">
          <span style="text-decoration:underline;">마이페이지 &gt; 프로그램 신청/취소</span> 현황 메뉴에서 <span class="dpib">예약 내역 확인하세요.</span><br />
          <span style="color:#787878;">신청 당일 6시까지 미입금시 신청취소입니다.</span>
        </p>
        <div style="margin:15px 0 25px 0;">
          <a href="?" target="_blank" title="새 창" style="padding:6px 12px;border:1px solid #999;background-color:#eee;color:#333;line-height:1.333;text-decoration:none;font-size:14px;border-radius:5px;">나의 예약 내역</a>
        </div>

      </div>
      <table style="width:100%;margin:.666em 0;border:0;border-collapse:collapse;border-top:3px solid #34241e;border-bottom:1px solid #34241e;font-size:14px;">
        <col style="width:13em" /><col />
        <tbody>
        <tr style="border-bottom:1px solid #bbb;">
          <th style="background-color:#ddd;padding:10px 5px;">프로그램명</th>
          <td style="padding:10px 5px;;font-size:13px;">목공체험(유아)</td>
        </tr>
        <tr style="border-bottom:1px solid #bbb;">
          <th style="background-color:#ddd;padding:10px 5px;;">교육일시</th>
          <td style="padding:10px 5px;;font-size:13px;">2018.05.17 오전 10:00 ~ 11:00</td>
        </tr>
        <tr style="border-bottom:1px solid #bbb;">
          <th style="background-color:#ddd;padding:10px 5px;;">결재방법</th>
          <td style="padding:10px 5px;;font-size:13px;">신용카드</td>
        </tr>
        <tr style="border-bottom:1px solid #bbb;">
          <th style="background-color:#ddd;padding:10px 5px;;">결재금액</th>
          <td style="padding:10px 5px;;font-size:13px;">200,000원</td>
        </tr>
        </tbody>
      </table>
    <!-- // 내용 -->


    <div style="margin:20px 0 10px 0;">
      <ul style="list-style:none;padding:0;margin:0;">
        <li style="background:url(/assets/images/woodcraft/www/lib/li1bg.png) 0 10px no-repeat;color:#787878;font-size:14px;padding-left:10px;margin:5px 0;">본 메일은 진주목공예전수관 고객님께 보내는 공지성 메일입니다.</li>
        <li style="background:url(/assets/images/woodcraft/www/lib/li1bg.png) 0 10px no-repeat;color:#787878;font-size:14px;padding-left:10px;margin:5px 0;">발신전용으로 회신되지 않으니 궁금하신 점은 대표전화를 통해 문의하여 주시기 바랍니다.</li>
      </ul>
    </div>
  </div>
  <div id="woodcraft_copyright" style="height:120px;background:#2e2e2e;color:#fff;margin-top:50px;">
    <div id="authorinfo" style="margin:0 auto;width:640px;padding-top:22px;font-size:14px;line-height: 1.5;">
      <address style="display:block;padding:0;margin:0;font-style:normal;text-align:center;color:#a2a2a2;">(52641) 경상남도 진주시 명석면 광제산로 367<br />대표전화 : 055-749-2114 / 팩스 : 055-749-2800</address>
      <address class="copyright" style="display:block;padding:0;margin:0;font-style:normal;text-align:center;color:#fff;padding-top:5px;font-weight:bold;">COPYRIGHT (C) 2018 BY Jinju City ALL RIGHTS RESERVED.</address>
    </div>    
  </div>
</div>



</body>
</html>