<!DOCTYPE html>

<html lang="ko">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="author" content="진주목공예전수관" />
<meta name="keywords" content="진주목공예전수관, 커뮤니티, 공지사항" />
<meta name="description" content="진주목공예전수관, 커뮤니티, 공지사항" />
<title>공지사항 글쓰기 | 진주목공예전수관</title>
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans" />
<link rel="stylesheet" type="text/css" href="/assets/css/woodcraft/www/font.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/woodcraft/www/lib.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/woodcraft/www/layout.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/woodcraft/www/content.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/woodcraft/www/template.css" />
<script type="text/javascript" src="/assets/js/woodcraft/www/define/iscroll-min.js"></script>
<script type="text/javascript" src="/assets/js/woodcraft/www/define/hammer.min.js"></script>
<script type="text/javascript" src="/assets/js/woodcraft/www/define/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/assets/js/woodcraft/www/define/jquery.easing.1.3.js"></script>
<!--[if lt IE 9]>
<script type="text/javascript" src="/assets/js/woodcraft/www/define/html5shiv.min.js"></script>
<script type="text/javascript" src="/assets/js/woodcraft/www/define/selectivizr.js"></script>
<script type="text/javascript" src="/assets/js/woodcraft/www/define/respond.min.js"></script>
<script type="text/javascript" src="/assets/js/woodcraft/www/define/jquery.backgroundSize.js"></script>
<![endif]-->
<script type="text/javascript" src="/assets/js/woodcraft/www/lib_define.js"></script>
<script type="text/javascript" src="/assets/js/woodcraft/www/lib_scroll.js"></script>
<script type="text/javascript" src="/assets/js/woodcraft/www/lib.js"></script>
</head>
<body>

<!-- #container -->    
<div id="container">
<noscript><p>JavaScript has been disabled. This site requires JavaScript for full functionality, please enable.</p></noscript>

<!-- #skipnav -->
<div id="skipnav">
	<ul>
	<li><a href="#body">본문 바로가기</a></li>
	</ul>
</div>
<!-- /#skipnav -->

<hr class="dpn" />

<!-- #head -->
<div id="head" class="init">
    <!-- #head_s1 -->
    <div id="head_s1" class="clearfix">    
        <!-- container -->
        <div class="container">
            <!-- gn1 -->
            <div id="gn1">
            <strong class="blind">Global Navigation</strong>
            <ul>
            <li><a href='?'>사이트맵</a></li>
            <li><a href='?'>로그인</a></li>
            <li><a href='?'>회원가입</a></li>
            <li><a href='?'>장바구니</a></li>
            <li class="m1"><a href="http://www.jinju.go.kr" target="_blank" title="새 창"><i class="ic1"></i>진주시</a></li>
            <li class="m2"><a href="http://tour.jinju.go.kr/" target="_blank" title="새 창"><i class="ic1"></i>문화관광</a></li>
            <li class="manager"><a href="http://tour.jinju.go.kr/" target="_blank" title="새 창"><i class="ic1"></i>관리자</a></li>
            </ul>
            </div>
            <!-- /gn1 -->
            <h1 id="logo">
                <a href='/' title="홈으로 이동"><img src="/assets/images/woodcraft/www/layout/logo@2x.png" alt="진주목공예전수관" /></a>
            </h1>               
        </div>
    <!-- /container -->
    </div>
    <!-- /#head_s1 -->

    <!-- #head_s2 -->
    <div id="head_s2" class="clearfix">  
        <!-- container -->
        <div class="container">
            <h2 class="blind">상단 메뉴</h2>

			<!-- tnb1 [jQ] -->
			<div id="tnb1">
			<h3 class="blind">주 메뉴</h3>
			<strong class="h1"><a href="#tnb1c" class="b1 toggle"><i class="ic1 bsContain"></i> <span class="t1 blind">주 메뉴</span> <span class="blind">여닫기</span></a></strong> 
			<!-- tnb1c -->
			<div id="tnb1c"><div class="bg"></div>
			<!-- cont -->
			<div class="cont">
				<a href="#tnb1c" class="b2 close"><i class="ic1 bsContain"></i> <span class="t1 blind">주 메뉴</span> <span class="blind">닫기</span></a>

				<!-- tnb1head_s1 -->
				<div id="tnb1head_s1">

					<!-- tnb1gn1 -->
					<div id="tnb1gn1">
						<strong class="blind">Global Navigation</strong>
						<ul>
						<li><a href='?'><i class="ic1 bsContain"></i> <span class="t1">로그아웃</span></a></li>
						</ul>
					</div>
					<!-- tnb1gn1 -->

					<!-- tnb1gn2 -->
					<div id="tnb1gn2">
						<strong class="blind">Global Navigation</strong>
						<ul>
						<li><a href="?" target="_blank" title="새 창"><i class="ic1 bsContain"></i> <span class="t1">장바구니</span><span class="num1">1</span></a></li>
						<li><a href="?" target="_blank" title="새 창"><i class="ic2 bsContain"></i> <span class="t1">마이페이지</span></a></li>
						<li><a href="?" target="_blank" title="새 창"><i class="ic3 bsContain"></i> <span class="t1">나의 정보</span></a></li>
						</ul>
					</div>
					<!-- /tnb1gn2 -->

				</div>
				<!-- /tnb1head_s1 -->

				<!-- d1 -->
				
				<div class="d1"><div class="bg"></div>
				<ul>
				<li class="m1"><a href='?'><i class="ic1"></i> <span class="t1">전수관 소개</span></a>
					<div class="d2"><div class="bg"></div>
					<ul>
					<li class="m1"><a href='?'><i class="ic1"></i> <span class="t1">인사말</span></a></li>
					<li class="m2"><a href='?'><i class="ic1"></i> <span class="t1">주요연혁</span></a></li>
					<li class="m3"><a href='?'><i class="ic1"></i> <span class="t1">이념 및 목표</span></a></li>
					<li class="m4"><a href='?'><i class="ic1"></i> <span class="t1">시설 운영 안내</span></a></li>
					<li class="m5"><a href='?'><i class="ic1"></i> <span class="t1">오시는 길</span></a></li>
					</ul>
					</div>
				</li>
				<li class="m2"><a href='?'><i class="ic1"></i> <span class="t1">전수관 둘러보기</span></a>
					<div class="d2"><div class="bg"></div>
					<ul>
					<li class="m1"><a href='?'><i class="ic1"></i> <span class="t1">주요시설</span></a></li>
					<li class="m2"><a href='?'><i class="ic1"></i> <span class="t1">부대시설</span></a></li>
					<li class="m3"><a href='?'><i class="ic1"></i> <span class="t1">시설물(장비) 안내</span></a></li>
					<li class="m4"><a href='?'><i class="ic1"></i> <span class="t1">시설물 사용신청</span></a></li>
					</ul>
					</div>
				</li>
				<li class="m3"><a href='?'><i class="ic1"></i> <span class="t1">목공예 전시물</span></a>
					<div class="d2"><div class="bg"></div>
					<ul>
					<li class="m1"><a href='?'><i class="ic1"></i> <span class="t1">목공예란</span></a></li>
					<li class="m2"><a href='?'><i class="ic1"></i> <span class="t1">목공예인 소개</span></a></li>
					<li class="m3"><a href='?'><i class="ic1"></i> <span class="t1">목공예품 구매</span></a></li>
					</ul>
					</div>
				</li>
				<li class="m4"><a href='?'><i class="ic1"></i> <span class="t1">교육/체험</span></a>
					<div class="d2"><div class="bg"></div>
					<ul>
					<li class="m1"><a href='?'><i class="ic1"></i> <span class="t1">교육 프로그램 안내</span></a></li>
					<li class="m2"><a href='?'><i class="ic1"></i> <span class="t1">교육 프로그램 예약</span></a></li>
					<li class="m3"><a href='?'><i class="ic1"></i> <span class="t1">일일 체험</span></a></li>
					<li class="m4"><a href='?'><i class="ic1"></i> <span class="t1">일일 체험 예약</span></a></li>
					</ul>
					</div>
				</li>
				<li class="m5 on"><a href='?'><i class="ic1"></i> <span class="t1">커뮤니티</span></a>
					<div class="d2"><div class="bg"></div>
					<ul>
					<li class="m1 on"><a href='?'><i class="ic1"></i> <span class="t1">공지사항</span></a></li>
					<li class="m2"><a href='?'><i class="ic1"></i> <span class="t1">방문후기</span></a></li>
					<li class="m3"><a href='?'><i class="ic1"></i> <span class="t1">소통갤러리</span></a></li>
					<li class="m4"><a href='?'><i class="ic1"></i> <span class="t1">자유게시판</span></a></li>
					</ul>
					</div>
				</li>
				<li class="m6"><a href='?'><i class="ic1"></i> <span class="t1">관광정보</span></a>
					<div class="d2"><div class="bg"></div>
					<ul>
					<li class="m1"><a href="http://jinju.go.kr/03about/07_02.jsp" target="_blank" title="새 창"><i class="ic1"></i> <span class="t1">진주시 소개</span></a></li>
					<li class="m2"><a href="?" target="_blank" title="새 창"><i class="ic1"></i> <span class="t1">문화관광</span></a></li>
					<li class="m3"><a href="?" target="_blank" title="새 창"><i class="ic1"></i> <span class="t1">숙박시설</span></a></li>
					<li class="m4"><a href="?" target="_blank" title="새 창"><i class="ic1"></i> <span class="t1">음식정보</span></a></li>
					<li class="m5"><a href="?" target="_blank" title="새 창"><i class="ic1"></i> <span class="t1">교통정보</span></a></li>
					<li class="m6"><a href="?" target="_blank" title="새 창"><i class="ic1"></i> <span class="t1">오시는길</span></a></li>
					</ul>
					</div>
				</li>
				</ul>
				</div>				
				<!-- /d1 -->

				<a href="#tnb1c" class="b2 close"><i class="ic1 bsContain"></i> <span class="t1 blind">주 메뉴</span> <span class="blind">닫기</span></a>
			</div>
			<!-- /cont -->
			</div>
			<!-- /tnb1c -->
			</div>
			<!-- /tnb1 -->

        </div>
        <!-- /container -->            
    </div>
    <!-- /#head_s2 -->           
 
</div>
<!-- /#head -->    

<hr class="dpn" />


<!-- #wrap -->
<div id="wrap">
    <!-- #sidebar -->
    <div id="sidebar" class="clearfix init">        
        <div class="container">
            <h2 class="blind">커뮤니티</h2>
            <strong class="h1 blind">부 메뉴</strong>            
            <div class="snb">
                <ul>
                <li class="on"><a href='?'>공지사항</a></li>
				<li><a href='?'>방문후기</a></li>
				<li><a href='?'>소통갤러리</a></li>
				<li><a href='?'>자유게시판</a></li>
                </ul>
            </div>
        </div>                     
    </div>
	<!-- /#sidebar --> 

    
    <hr class="dpn" />

    <!-- #body -->
    <div id="body">
        <!-- container -->
        <div class="container clearfix">
            <!-- #forPrint -->
            <div id="forPrint">

                <!-- #body_head -->
                <div id="body_head" class="init">
                 
                    <!-- body_head_s1 -->
                    <div id="body_head_s1">
                        <div id="body_title"><h1 class="hb1 h1">공지사항</h1></div>
                        <!-- location1 -->
                        <div id="location1">
                            <div class="breadcrumb clearfix">
                                <strong class="blind">현재페이지 위치:</strong>
                                <span class="cont">
                                    <a href='?' class='home' title='홈'>홈</a>
                                    <span class='sep'> &gt; </span><a href='?'>커뮤니티</a>
                                    <span class='sep'> &gt; </span><a href='?' class="on">공지사항</a>
                                </span>
                            </div>
                        </div>
                        <!-- /location1 -->                                                                         
                    </div>
                    <!-- /body_head_s1 -->
                         
                    <!-- body_head_s2 -->
                    <div id="body_head_s2">
                        <!-- bn1 -->
                        <div id="bn1">
                            <ul>
                            <li class="m share1">
                                <div id="bn1share1">
                                    <ul>
                                    <li class="m facebook"><a href="#?"><i class="ic1 bsContain"> <span class="blind">페이스북 담기</span></i></a></li>
                                    <li class="m twitter"><a href="#?"><i class="ic1 bsContain"> <span class="blind">트위터 담기</span></i></a></li>
                                    <li class="m kakaostory"><a href="#?"><i class="ic1 bsContain"> <span class="blind">카카오스토리 담기</span></i></a></li>
                                    </ul>
                                    <i class="deco1 bsContain"></i>
                                </div>
                                <a href="#bn1share1" class="m toggle"><i class="ic1 bsContain"> <span class="blind">Share toggle</span></i></a>
                            </li>
                            <li class="m link"><a href="#?"><i class="ic1 bsContain"> <span class="blind">링크 공유 (링크 주소 복사)</span></i></a></li>
                            <li class="m print"><a href="#?" onclick="window.print(); return false;" target="_blank"><i class="ic1 bsContain"> <span class="blind">본문 인쇄</span></i></a></li>
                            </ul>
                        </div>
                        <!-- /bn1 -->        
                    </div>
                    <!-- /body_head_s2 -->            
                </div>
                <!-- /#body_head -->			

                <!-- #body_content -->
                <div id="body_content" class="body_content init">


					<!-- bbs_write --> 
					<div class="bbs_write">
						<p><em class="required" title="필수항목">*</em> 는 필수 입력 항목입니다.</p>

						<!-- 작성 폼 -->
                        <form action="?">
                        <!-- fieldset -->
                        <fieldset><legend class="blind">작성 폼</legend>                                                                   
                        <table class="t1">
                        <caption class="blind">
                            <strong class="h1">공지사항 작성 폼</strong>
                        </caption>
                        <col style="width:12em;" /><col />
                        <tbody>
                        <tr>
                        <th scope="row"><label for="f1id">아이디 <em class="required" title="필수항목">*</em></label></th>
                        <td><input type="text" id="f1id" lang="en" />
                        &nbsp;
                        <a href="?" target="_blank" onclick="window.open(this.href,'','location=0,directories=0,resizable=1,status=0,toolbar=0,menubar=0,scrollbars=1,width=500,height=500,left=' + ((screen.availWidth-500)/2) + ',top=' + ((screen.availHeight-500)/2) + ''); return false;" title="새 창" class="button btnpopup">아이디 검색</a>
                        </td>
                        </tr>
                        <tr>
                        <th scope="row"><label for="f1password">암호 <em class="required" title="필수항목">*</em></label></th>
                        <td><div class="explain">* 8자 이상. 영문자 숫자 특수문자 혼용</div>
                        <input type="password" id="f1password" placeholder="a-z0-9!~)" lang="en" /></td>
                        </tr>
                        <tr>
                        <th scope="row"><label for="f1password-check">암호 확인 <em class="required" title="필수항목">*</em></label></th>
                        <td><input type="password" id="f1password-check" lang="en" /></td>
                        </tr>
                        <tr>
                        <th scope="row"><label for="f1name">이름 <em class="required" title="필수항목">*</em></label></th>
                        <td><input type="text" id="f1name" placeholder="실명" /></td>
                        </tr>
                        <tr>
                        <th scope="row">성별</th>
                        <td>
                            <input type="radio" name="f1gender1" id="f1gender1e0" checked="checked" /><label for="f1gender1e0">남성</label>
                            &nbsp;&nbsp;
                            <input type="radio" name="f1gender1" id="f1gender1e1" /><label for="f1gender1e1">여성</label>
                        </td>
                        </tr>
                        <tr>
                        <th scope="row"><label for="f1birthday1">생년월일</label></th>
                        <td><input type="tel" id="f1birthday1" placeholder="19920522" /></td>
                        </tr>
                        <tr>
                        <th scope="row"><label for="f1email1">메일주소</label></th>
                        <td><input type="text" id="f1email1" placeholder="email@email.com" class="w100" lang="en" /></td>
                        </tr>
                        <tr>
                        <th scope="row"><label for="f1email2">이메일</label></th>
                        <td><input type="text" id="f1email2" placeholder="email@email.com" class="w100" lang="en" />
                            <input type="checkbox" id="f1receiveEmail1" value="1" checked="checked" /><label for="f1receiveEmail1"> 응답메일 수신</label>
                        </td>
                        </tr>
                        <tr>
                        <th scope="row"><label for="f1email3">이메일</label></th>
                        <td>
                        <input type="text" id="f1email3" placeholder="email" title="이메일 계정" />
                        <span class="vam">@</span>
                        <input type="text" id="f1email3inputEmailServer" placeholder="email.com" title="이메일 서버 직접 입력" />
                        <select id="f1email3selectEmailServer" title="이메일 서버">
                        <option value="Option 1">직접 입력</option>
                        <option value="Option 2">naver.com</option>
                        <option value="Option 3">daum.net</option>
                        <option value="Option 3">gmail.com</option>
                        </select>
                        &nbsp;
                        <input type="checkbox" id="f1receiveEmail2" value="1" checked="checked" /><label for="f1receiveEmail2"> 응답메일 수신</label>
                        </td>
                        </tr>
                        <tr>
                        <th scope="row"><label for="f1homepage1">홈페이지</label></th>
                        <td><input type="text" id="f1homepage1" placeholder="http://www.homepage.com/" class="w100" /></td>
                        </tr>
                        <tr>
                        <th scope="row"><label for="f1phone1">전화번호</label></th>
                        <td>
                        <input type="text" id="f1phone1" size="3" maxlength="3" title="국번" />
                        <span class="vam">-</span>
                        <input type="text" id="f1phone1-mid" size="4" maxlength="4" title="중간 번호" />
                        <span class="vam">-</span>
                        <input type="text" id="f1phone1-last" size="4" maxlength="4" title="끝 번호" />
                        </td>
                        </tr>
                        <tr>
                        <th scope="row"><label for="f1phone2">전화번호</label></th>
                        <td><input type="tel" id="f1phone2" /></td>
                        </tr>
                        <tr>
                        <th scope="row"><label for="f1mobilephone1">휴대전화</label></th>
                        <td>
                        <input type="text" id="f1mobilephone1" size="3" maxlength="3" placeholder="010" title="서비스 번호" />
                        <span class="vam">-</span>
                        <input type="text" id="f1mobilephone1-mid" size="4" maxlength="4" placeholder="0000" title="중간 번호" />
                        <span class="vam">-</span>
                        <input type="text" id="f1mobilephone1-last" size="4" maxlength="4" placeholder="0000" title="끝 번호" />
                        </td>
                        </tr>
                        <tr>
                        <th scope="row"><label for="f1mobilephone2">휴대전화</label></th>
                        <td>
                        <select id="f1mobilephone2" title="서비스 번호">
                        <option value="010">010</option>
                        <option value="016">016</option>
                        <option value="019">019</option>
                        </select>
                        <span class="vam">-</span>
                        <input type="text" id="f1mobilephone2-mid" size="4" maxlength="4" placeholder="0000" title="중간 번호" />
                        <span class="vam">-</span>
                        <input type="text" id="f1mobilephone2-last" size="4" maxlength="4" placeholder="0000" title="끝 번호" />
                        </td>
                        </tr>
                        <tr>
                        <th scope="row"><label for="f1s1zipcode1">주소</label></th>
                        <td>
                        <input type="text" id="f1s1zipcode1" size="3" maxlength="3" placeholder="000" title="우편번호 앞자리" />
                        <span class="vam">-</span>
                        <input type="text" id="f1s1zipcode2" size="3" maxlength="3" placeholder="000" title="우편번호 뒷자리" />
                        &nbsp;
                        <a href="/assets/_lib/template/popup/juso.html" target="_blank" onclick="window.open(this.href,'','location=0,directories=0,resizable=1,status=0,toolbar=0,menubar=0,scrollbars=1,width=800,height=810,left=' + ((screen.availWidth-800)/2) + ',top=' + ((screen.availHeight-810)/2) + ''); return false;" title="새 창" class="button btnpopup">우편번호 검색</a>
                        <br />
                        <input type="text" id="f1s1address1" placeholder="기본 주소" title="기본 주소" class="w100" />
                        <input type="text" id="f1s1address2" placeholder="상세 주소" title="상세 주소" class="w100" />
                        </td>
                        </tr>
                        <tr>
                        <th scope="row"><label for="f1subject">제목</label></th>
                        <td><input type="text" id="f1subject" value="" class="w100" /></td>
                        </tr>
                        <tr>
                        <th scope="row"><label for="f1textarea">내용</label></th>
                        <td><div class="explain">* 개인정보보호를 위해 주민번호, 주소, 전화번호 등은 내용에 남기지 마십시오.</div>
                        <textarea id="f1textarea" rows="5" cols="80" class="w100"></textarea></td>
                        </tr>                        
                        <tr>
                        <th scope="row"><label for="f1file1">첨부파일1</label></th>
                        <td><input type="file" id="f1file1" /></td>
                        </tr>
                        <tr>
                        <th scope="row"><label for="f1file1alt1">첨부파일1<br /> 대체텍스트</label></th>
                        <td><div class="explain"><em class="em2">이미지는 웹 접근성을 위해 적절한 대체텍스트를 제공해야 합니다.</em></div>
                        <textarea id="f1file1alt1" rows="5" cols="80" class="w100"></textarea></td>
                        </tr>
                        <tr>
                        <th scope="row"><label for="f1file2">첨부파일2</label></th>
                        <td><input type="file" id="f1file2" /></td>
                        </tr>
                        <tr>
                        <th scope="row"><label for="f1file2alt1">첨부파일2<br /> 대체텍스트</label></th>
                        <td><textarea id="f1file2alt1" rows="5" cols="80" class="w100"></textarea></td>
                        </tr>
                        <tr>
                        <th scope="row"><label for="f1cite1">출처</label></th>
                        <td><input type="text" id="f1cite1" class="w100" /></td>
                        </tr>
                        <tr>
                        <th scope="row">답변요청</th>
                        <td><div class="explain">답변요청을 하시겠습니까?</div>
                        &nbsp;&nbsp;
                        <input type="radio" name="f1radio2" id="f1radio2e0" checked="checked" /><label for="f1radio2e0">예</label>
                        &nbsp;&nbsp;
                        <input type="radio" name="f1radio2" id="f1radio2e1" /><label for="f1radio2e1">아니요</label>
                        </td>
                        </tr>
                        <tr>
                        <th scope="row">내 권한</th>
                        <td>
                        <input type="checkbox" name="f1checkbox2" id="f1checkbox2e0" checked="checked" /><label for="f1checkbox2e0"> 조회</label>
                        &nbsp;&nbsp;
                        <input type="checkbox" name="f1checkbox2" id="f1checkbox2e1" /><label for="f1checkbox2e1"> 작성/편집/수정/삭제</label>
                        </td>
                        </tr>
                        <tr>
                        <th scope="row">정보공개</th>
                        <td><span class="explain ">일반인에게</span>
                        <label for="f1openinfo" class="blind">공개옵션</label>
                        &nbsp;
                        <select id="f1openinfo" title="공개옵션">
                        <option value="">공개</option>
                        <option value="">비공개</option>
                        </select>
                        &nbsp;
                        <span class="explain">하시겠습니까?</span>
                        </td>
                        </tr>               
                        </tbody>
                        </table>



                            <h2 class="hb1 h2">약관동의</h2>
                            <table class="t5">
                                <caption class="blind"><strong class="h1">동의여부</strong></caption>
                                <tbody>
                                <tr>
                                    <th class="tal" scope="row"><span class="com1agree1q1">개인정보 수집 및 이용안내</span></th>
                                    <td class="tac com1agree1w1"><a href="/inc/agree/07.jsp" class="ic_new_win" target="_blank" title="새 창">내용보기</a></td>
                                    <td class="tac com1agree1w1"><input type="checkbox" id="agree1w1" value="" /> <label for="agree1w1"> 동의함</label></td>
                                </tr>
                                </tbody>
                            </table>
                            <!-- /bbs_write -->
<!-- 약관 추가 --><!--
                        <h2 class="hb1 h2">개인정보 수집 및 이용안내</h2>
                        진주목공예전수관 홈페이지 게시판 서비스제공을 위해 필요한 최소한의 개인정보를 수집하며, 이에대한 동의를 얻고 있습니다.
                        <table class="t1">
                            <caption class="blind"><strong class="h1">개인정보 수집 및 이용안내</strong></caption>
                            <col style="width:25%" />
                            <col />
                            <tbody>
                            <tr>
                                <th scope="row">개인정보 수집·이용 목적</th>
                                <td>의견 대응</td>
                            </tr>
                            <tr>
                                <th scope="row">수집하는 개인정보의 항목</th>
                                <td>
                                    <ul class="bu">
                                        <li>필수정보 : 성명, 암호(글쓰기)</li>
                                        <li>선택정보 : 전화번호</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">개인정보의 보유 및 이용 기간</th>
                                <td>게시 종료일까지</td>
                            </tr>
                            </tbody>
                        </table>

                        귀하는 개인정보 수집·이용에 동의하지 않으실 수 있습니다.<br />
                        동의 거부시에도 글쓰기는 가능합니다.(단, 글쓰기를 위한 최소한의 정보인 필수정보는 미입력시 글쓰기 불가)

                        <table class="t4">
                            <caption class="blind"><strong class="h1">동의여부</strong></caption>
                            <tbody>
                            <tr>
                                <th class="tal" scope="row"><span class="com1agree1q1">위와 같이 개인정보를 수집·이용하는데 동의하십니까?</span></th>
                                <td class="tac com1agree1w1"><input type="checkbox" id="agree1w1" value="" /> <label for="agree1w1"> 동의함</label></td>
                            </tr>
                            <tr>
                                <th class="tal" scope="row"><span class="com1agree1q1">선택적 개인정보를 수집·이용하는데 동의하십니까?</span></th>
                                <td class="tac"><input type="checkbox" id="agree1w2" value="" /> <label for="agree1w2"> 동의함</label></td>
                            </tr>
                            </tbody>
                        </table>-->
<!-- // 약관 추가 -->

                        </fieldset>
                        <!-- //fieldset -->

                        <!-- infosection1 -->
                        <div class="infosection1">
                            <p class="tac">
                            <button type="submit" value="submit" class="button submit">저장하기</button>
                            <a href="?" class="button">취소하기</a>
                            </p>
                            </div>
                            <!-- /infosection1 -->                        
                        </form>
                        <!-- //작성 폼 -->                        
					</div>
                    <!-- /bbs_write -->                                           


                </div>
                <!-- /#body_content -->
            </div>
            <!-- /#forPrint -->		
		</div>
        <!-- /container -->
    </div>
    <!-- /#body -->
                
</div>
<!-- /#wrap -->

<hr class="dpn" />

<!-- #foot -->
<div id="foot" class="init">
    <h2 class="blind">하단 정보</h2>

    <!-- fn1 -->
    <div id="fn1">
        <div class="container init">
        <ul>
        <li><a href="http://www.jinju.go.kr/07guide/sitereport.jsp?amode=private&amp;pagesize=1000&amp;cpage=1&amp;gcode=1084" target="_blank" title="새 창">홈페이지 개선의견</a></li>
        <li><a href="http://www.jinju.go.kr/07guide/privacy.jsp" target="_blank" title="새 창">개인정보 처리방침</a></li>
        <li><a href="http://www.jinju.go.kr/07guide/copyright.jsp" target="_blank" title="새 창">저작권 정책</a></li>
        <li><a href="http://www.jinju.go.kr/07guide/viewer.jsp" target="_blank" title="새 창">뷰어프로그램</a></li>
        <li><a href="?">웹마스터 메일</a></li>  
        </ul>
        </div>
    </div>
    <!-- /fn1 -->    

    <!-- container -->
    <div class="container">
        <p id="foot_logo"><img src="/assets/images/woodcraft/www/layout/foot_logo@2x.png" alt="진주시" /></p>
        <!-- author1 -->
        <div id="author1">
            <strong class="h1 blind">작성자 (연락처/저작권)</strong>
            <address class="address">
                52641 경상남도 진주시 명석면 광제산로 367  <a href="http://www.juso.go.kr/openIndexPage.do" target="_blank" title="새 창">도로명주소검색</a> <span class="dpib">대표전화 : <span class="ls0">055-749-2114</span> / 팩스 : <span class="ls0">055-749-2800</span></span>
            </address>
            <p class="nophishing">본 사이트에 게시된 이메일주소의 자동수집을 거부하며 이를 위반시 정보통신망법에 의해 형사처벌됩니다.</p>
            <address class="copyright">Copyright ⓒ 2018 Jinju City ALL RIGHTS RESERVED.</address>
        </div>
        <!-- /author1 -->
    </div>
    <!-- /container -->
</div>
<!-- /#foot -->

</div>   
<!--/#container-->
</body>
</html>