<!DOCTYPE html>

<html lang="ko">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="진주목공예전수관" />
    <meta name="keywords" content="진주목공예전수관, 시설물사용 신청서 작성, 전수관 둘러보기" />
    <meta name="description" content="진주목공예전수관, 시설물사용 신청서 작성, 전수관 둘러보기" />
    <title>시설물사용 신청서 작성 | 진주목공예전수관</title>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans" />
    <link rel="stylesheet" type="text/css" href="/assets/css/woodcraft/www/font.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/woodcraft/www/lib.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/woodcraft/www/layout.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/woodcraft/www/content.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/woodcraft/www/template.css" />
    <script type="text/javascript" src="/assets/js/woodcraft/www/define/iscroll-min.js"></script>
    <script type="text/javascript" src="/assets/js/woodcraft/www/define/hammer.min.js"></script>
    <script type="text/javascript" src="/assets/js/woodcraft/www/define/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="/assets/js/woodcraft/www/define/jquery.easing.1.3.js"></script>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="/assets/js/woodcraft/www/define/html5shiv.min.js"></script>
    <script type="text/javascript" src="/assets/js/woodcraft/www/define/selectivizr.js"></script>
    <script type="text/javascript" src="/assets/js/woodcraft/www/define/respond.min.js"></script>
    <script type="text/javascript" src="/assets/js/woodcraft/www/define/jquery.backgroundSize.js"></script>
    <![endif]-->
    <script type="text/javascript" src="/assets/js/woodcraft/www/lib_define.js"></script>
    <script type="text/javascript" src="/assets/js/woodcraft/www/lib_scroll.js"></script>
    <script type="text/javascript" src="/assets/js/woodcraft/www/lib.js"></script>
</head>
<body>

<!-- #container -->
<div id="container">
    <noscript><p>JavaScript has been disabled. This site requires JavaScript for full functionality, please enable.</p></noscript>

    <!-- #skipnav -->
    <div id="skipnav">
        <ul>
            <li><a href="#body">본문 바로가기</a></li>
        </ul>
    </div>
    <!-- /#skipnav -->

    <hr class="dpn" />

    <!-- #head -->
    <div id="head" class="init">
        <!-- #head_s1 -->
        <div id="head_s1" class="clearfix">
            <!-- container -->
            <div class="container">
                <!-- gn1 -->
                <div id="gn1">
                    <strong class="blind">Global Navigation</strong>
                    <ul>
                        <li><a href='?'>사이트맵</a></li>
                        <li><a href='?'>로그인</a></li>
                        <li><a href='?'>회원가입</a></li>
                        <li><a href='?'>장바구니</a></li>
                        <li class="m1"><a href="http://www.jinju.go.kr" target="_blank" title="새 창"><i class="ic1"></i>진주시</a></li>
                        <li class="m2"><a href="http://tour.jinju.go.kr/" target="_blank" title="새 창"><i class="ic1"></i>문화관광</a></li>
                        <li class="manager"><a href="http://tour.jinju.go.kr/" target="_blank" title="새 창"><i class="ic1"></i>관리자</a></li>
                    </ul>
                </div>
                <!-- /gn1 -->
                <h1 id="logo">
                    <a href='/' title="홈으로 이동"><img src="/assets/images/woodcraft/www/layout/logo@2x.png" alt="진주목공예전수관" /></a>
                </h1>
            </div>
            <!-- /container -->
        </div>
        <!-- /#head_s1 -->

        <!-- #head_s2 -->
        <div id="head_s2" class="clearfix">
            <!-- container -->
            <div class="container">
                <h2 class="blind">상단 메뉴</h2>

                <!-- tnb1 [jQ] -->
                <div id="tnb1">
                    <h3 class="blind">주 메뉴</h3>
                    <strong class="h1"><a href="#tnb1c" class="b1 toggle"><i class="ic1 bsContain"></i> <span class="t1 blind">주 메뉴</span> <span class="blind">여닫기</span></a></strong>
                    <!-- tnb1c -->
                    <div id="tnb1c"><div class="bg"></div>
                        <!-- cont -->
                        <div class="cont">
                            <a href="#tnb1c" class="b2 close"><i class="ic1 bsContain"></i> <span class="t1 blind">주 메뉴</span> <span class="blind">닫기</span></a>

                            <!-- tnb1head_s1 -->
                            <div id="tnb1head_s1">

                                <!-- tnb1gn1 -->
                                <div id="tnb1gn1">
                                    <strong class="blind">Global Navigation</strong>
                                    <ul>
                                        <li><a href='?'><i class="ic1 bsContain"></i> <span class="t1">로그아웃</span></a></li>
                                    </ul>
                                </div>
                                <!-- tnb1gn1 -->

                                <!-- tnb1gn2 -->
                                <div id="tnb1gn2">
                                    <strong class="blind">Global Navigation</strong>
                                    <ul>
                                        <li><a href="?" target="_blank" title="새 창"><i class="ic1 bsContain"></i> <span class="t1">장바구니</span><span class="num1">1</span></a></li>
                                        <li><a href="?" target="_blank" title="새 창"><i class="ic2 bsContain"></i> <span class="t1">마이페이지</span></a></li>
                                        <li><a href="?" target="_blank" title="새 창"><i class="ic3 bsContain"></i> <span class="t1">나의 정보</span></a></li>
                                    </ul>
                                </div>
                                <!-- /tnb1gn2 -->

                            </div>
                            <!-- /tnb1head_s1 -->

                            <!-- d1 -->

                            <div class="d1"><div class="bg"></div>
                                <ul>
                                    <li class="m1"><a href='?'><i class="ic1"></i> <span class="t1">전수관 소개</span></a>
                                        <div class="d2"><div class="bg"></div>
                                            <ul>
                                                <li class="m1"><a href='?'><i class="ic1"></i> <span class="t1">인사말</span></a></li>
                                                <li class="m2"><a href='?'><i class="ic1"></i> <span class="t1">주요연혁</span></a></li>
                                                <li class="m3"><a href='?'><i class="ic1"></i> <span class="t1">이념 및 목표</span></a></li>
                                                <li class="m4"><a href='?'><i class="ic1"></i> <span class="t1">시설 운영 안내</span></a></li>
                                                <li class="m5"><a href='?'><i class="ic1"></i> <span class="t1">오시는 길</span></a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="m2"><a href='?'><i class="ic1"></i> <span class="t1">전수관 둘러보기</span></a>
                                        <div class="d2"><div class="bg"></div>
                                            <ul>
                                                <li class="m1"><a href='?'><i class="ic1"></i> <span class="t1">주요시설</span></a></li>
                                                <li class="m2"><a href='?'><i class="ic1"></i> <span class="t1">부대시설</span></a></li>
                                                <li class="m3"><a href='?'><i class="ic1"></i> <span class="t1">시설물(장비) 안내</span></a></li>
                                                <li class="m4"><a href='?'><i class="ic1"></i> <span class="t1">시설물 사용신청</span></a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="m3 on"><a href='?'><i class="ic1"></i> <span class="t1">목공예 전시물</span></a>
                                        <div class="d2"><div class="bg"></div>
                                            <ul>
                                                <li class="m1"><a href='?'><i class="ic1"></i> <span class="t1">목공예란</span></a></li>
                                                <li class="m2"><a href='?'><i class="ic1"></i> <span class="t1">목공예인 소개</span></a></li>
                                                <li class="m3 on"><a href='?'><i class="ic1"></i> <span class="t1">목공예품 구매</span></a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="m4"><a href='?'><i class="ic1"></i> <span class="t1">교육/체험</span></a>
                                        <div class="d2"><div class="bg"></div>
                                            <ul>
                                                <li class="m1"><a href='?'><i class="ic1"></i> <span class="t1">교육 프로그램 안내</span></a></li>
                                                <li class="m2"><a href='?'><i class="ic1"></i> <span class="t1">교육 프로그램 예약</span></a></li>
                                                <li class="m3"><a href='?'><i class="ic1"></i> <span class="t1">일일 체험</span></a></li>
                                                <li class="m4"><a href='?'><i class="ic1"></i> <span class="t1">일일 체험 예약</span></a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="m5"><a href='?'><i class="ic1"></i> <span class="t1">커뮤니티</span></a>
                                        <div class="d2"><div class="bg"></div>
                                            <ul>
                                                <li class="m1"><a href='?'><i class="ic1"></i> <span class="t1">공지사항</span></a></li>
                                                <li class="m2"><a href='?'><i class="ic1"></i> <span class="t1">방문후기</span></a></li>
                                                <li class="m3"><a href='?'><i class="ic1"></i> <span class="t1">소통갤러리</span></a></li>
                                                <li class="m4"><a href='?'><i class="ic1"></i> <span class="t1">자유게시판</span></a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="m6"><a href='?'><i class="ic1"></i> <span class="t1">관광정보</span></a>
                                        <div class="d2"><div class="bg"></div>
                                            <ul>
                                                <li class="m1"><a href="http://jinju.go.kr/03about/07_02.jsp" target="_blank" title="새 창"><i class="ic1"></i> <span class="t1">진주시 소개</span></a></li>
                                                <li class="m2"><a href="?" target="_blank" title="새 창"><i class="ic1"></i> <span class="t1">문화관광</span></a></li>
                                                <li class="m3"><a href="?" target="_blank" title="새 창"><i class="ic1"></i> <span class="t1">숙박시설</span></a></li>
                                                <li class="m4"><a href="?" target="_blank" title="새 창"><i class="ic1"></i> <span class="t1">음식정보</span></a></li>
                                                <li class="m5"><a href="?" target="_blank" title="새 창"><i class="ic1"></i> <span class="t1">교통정보</span></a></li>
                                                <li class="m6"><a href="?" target="_blank" title="새 창"><i class="ic1"></i> <span class="t1">오시는길</span></a></li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!-- /d1 -->

                            <a href="#tnb1c" class="b2 close"><i class="ic1 bsContain"></i> <span class="t1 blind">주 메뉴</span> <span class="blind">닫기</span></a>
                        </div>
                        <!-- /cont -->
                    </div>
                    <!-- /tnb1c -->
                </div>
                <!-- /tnb1 -->

            </div>
            <!-- /container -->
        </div>
        <!-- /#head_s2 -->

    </div>
    <!-- /#head -->

    <hr class="dpn" />


    <!-- #wrap -->
    <div id="wrap">
        <!-- #sidebar -->
        <div id="sidebar" class="clearfix init">
            <div class="container">
                <h2 class="blind">전수관 둘러보기</h2>
                <strong class="h1 blind">부 메뉴</strong>
                <div class="snb">
                    <ul>
                        <li><a href='?'>주요시설</a></li>
                        <li><a href='?'>부대시설</a></li>
                        <li><a href='?'>시설물(장비) 안내</a></li>
                        <li class="on"><a href='?'>시설물 사용신청</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /#sidebar -->

        <hr class="dpn" />

        <!-- #body -->
        <div id="body">
            <!-- container -->
            <div class="container clearfix">
                <!-- #forPrint -->
                <div id="forPrint">

                    <!-- #body_head -->
                    <div id="body_head" class="init">

                        <!-- body_head_s1 -->
                        <div id="body_head_s1">
                            <div id="body_title"><h1 class="hb1 h1">시설물사용 신청</h1></div>
                            <!-- location1 -->
                            <div id="location1">
                                <div class="breadcrumb clearfix">
                                    <strong class="blind">현재페이지 위치:</strong>
                                    <span class="cont">
                                    <a href='?' class='home' title='홈'>홈</a>
                                    <span class='sep'> &gt; </span><a href='?'>전수관 둘러보기</a>
                                    <span class='sep'> &gt; </span><a href='?' class="on">시설물사용 신청</a>
                                </span>
                                </div>
                            </div>
                            <!-- /location1 -->
                        </div>
                        <!-- /body_head_s1 -->

                        <!-- body_head_s2 -->
                        <div id="body_head_s2">
                            <!-- bn1 -->
                            <div id="bn1">
                                <ul>
                                    <li class="m share1">
                                        <div id="bn1share1">
                                            <ul>
                                                <li class="m facebook"><a href="#?"><i class="ic1 bsContain"> <span class="blind">페이스북 담기</span></i></a></li>
                                                <li class="m twitter"><a href="#?"><i class="ic1 bsContain"> <span class="blind">트위터 담기</span></i></a></li>
                                                <li class="m kakaostory"><a href="#?"><i class="ic1 bsContain"> <span class="blind">카카오스토리 담기</span></i></a></li>
                                            </ul>
                                            <i class="deco1 bsContain"></i>
                                        </div>
                                        <a href="#bn1share1" class="m toggle"><i class="ic1 bsContain"> <span class="blind">Share toggle</span></i></a>
                                    </li>
                                    <li class="m link"><a href="#?"><i class="ic1 bsContain"> <span class="blind">링크 공유 (링크 주소 복사)</span></i></a></li>
                                    <li class="m print"><a href="#?" onclick="window.print(); return false;" target="_blank"><i class="ic1 bsContain"> <span class="blind">본문 인쇄</span></i></a></li>
                                </ul>
                            </div>
                            <!-- /bn1 -->
                        </div>
                        <!-- /body_head_s2 -->
                    </div>
                    <!-- /#body_head -->

                    <!-- #body_content -->
                    <div id="body_content" class="body_content init">


                        <!-- 신청서 작성 폼 -->
                        <form action="?">
                            <!-- fieldset -->
                            <fieldset><legend class="blind">신청서 작성 폼</legend>

                                <h2 class="hb1 h2">시설 정보</h2>
                                <!-- bbs_write -->
                                <div class="bbs_write">
                                    <table class="t1">
                                        <caption class="blind">
                                            <strong class="h1">시설 정보 작성 폼</strong>
                                        </caption>
                                        <col class="order_td_w1" /><col />
                                        <tbody>
                                        <tr>
                                            <th scope="row">시설명</th>
                                            <td><em>제1작업실</em></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">대관일</th>
                                            <td>2018.05.17</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">대관시간</th>
                                            <td>10:00 ~ 11:00</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">대관료</th>
                                            <td>200,000원</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /bbs_write -->

                                <h2 class="hb1 h2 dpib">예약자 정보</h2>
                                <span class="dpib">&nbsp;&nbsp;<em class="required" title="필수항목">*</em> 는 필수 입력 항목입니다.</span>
                                <!-- bbs_write -->
                                <div class="bbs_write">
                                    <table class="t1">
                                        <caption class="blind">
                                            <strong class="h1">예약자 정보 작성 폼</strong>
                                        </caption>
                                        <col class="order_td_w1" /><col />
                                        <tbody>
                                        <tr>
                                            <th scope="row"><label for="f1name">예약자</label> <em class="required" title="필수항목">*</em></th>
                                            <td><input type="text" id="f1name" placeholder="실명" /></td>
                                        </tr>
                                        <tr>
                                            <th scope="row"><label for="f1name">단체명</label> <em class="required" title="필수항목">*</em></th>
                                            <td><input type="text" id="f1name" /></td>
                                        </tr>
                                        <tr>
                                            <th scope="row"><label for="f1phone1">연락처</label> <em class="required" title="필수항목">*</em></th>
                                            <td>
                                                <input type="text" id="f1phone1" size="3" maxlength="3" title="국번" />
                                                <span class="vam">-</span>
                                                <input type="text" id="f1phone1-mid" size="4" maxlength="4" title="중간 번호" />
                                                <span class="vam">-</span>
                                                <input type="text" id="f1phone1-last" size="4" maxlength="4" title="끝 번호" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row"><label for="f1phone1">단체연락처</label></th>
                                            <td>
                                                <input type="text" id="f1phone1" size="3" maxlength="3" title="국번" />
                                                <span class="vam">-</span>
                                                <input type="text" id="f1phone1-mid" size="4" maxlength="4" title="중간 번호" />
                                                <span class="vam">-</span>
                                                <input type="text" id="f1phone1-last" size="4" maxlength="4" title="끝 번호" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row"><label for="f1email3">이메일</label></th>
                                            <td>
                                                <input type="text" id="f1email3" title="이메일 계정" class="ime-mode-inactive" />
                                                <span class="nowrap">
                                            <span class="vam">@</span>
                                            <input type="text" id="f1email3inputEmailServer" title="이메일 서버 직접 입력" class="ime-mode-inactive" />
                                        </span>
                                                <select id="f1email3selectEmailServer" title="이메일 서버">
                                                    <option value="">직접 입력</option>
                                                    <option value="daum.net">daum.net</option>
                                                    <option value="dreamwiz.com">dreamwiz.com</option>
                                                    <option value="gmail.com">gmail.com</option>
                                                    <option value="hanmail.net">hanmail.net</option>
                                                    <option value="hotmail.com">hotmail.com</option>
                                                    <option value="korea.com">korea.com</option>
                                                    <option value="nate.com">nate.com</option>
                                                    <option value="naver.com">naver.com</option>
                                                    <option value="yahoo.co.kr">yahoo.co.kr</option>
                                                </select>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                </div>
                                <!-- /bbs_write -->

                                <h2 class="hb1 h2">결제 예정금액</h2>
                                <!-- order_list -->
                                <div class="order_list">
                                    <table class="t1">
                                        <caption class="blind">
                                            <strong class="h1">결제 예정금액</strong>
                                        </caption>
                                        <col style="width:75%" />
                                        <col style="width:5%" />
                                        <col style="width:20%" />
                                        <thead>
                                        <tr>
                                            <th scope="col">대관료</th>
                                            <th scope="col"></th>
                                            <th scope="col">총 결제금액</th>
                                        </tr>
                                        <thead>
                                        <tbody>
                                        <tr>
                                            <td>200,000원 </td>
                                            <td><i class="ic2 bsContain"></i></td>
                                            <td class="order_total_price">200,000원</td>
                                        </tr>
                                        </tbody>
                                    </table>


                                </div>
                                <!-- / order_list -->

                                <h2 class="hb1 h2">결제 정보</h2>
                                <!-- bbs_write -->
                                <div class="bbs_write">
                                    <table class="t1">
                                        <caption class="blind">
                                            <strong class="h1">결제 정보 작성 폼</strong>
                                        </caption>
                                        <col class="order_td_w1" /><col />
                                        <tbody>
                                        <tr>
                                            <th scope="row">결제방법</th>
                                            <td>
                                                <input type="radio" name="f1gender1" id="f1gender1e0" checked="checked" /><label for="f1gender1e0"> 무통장입금</label>
                                                &nbsp;&nbsp;
                                                <select id="f1gender1e0selectEmailServer" title="입금 계좌번호 선택">
                                                    <option value="Option 1">입금 계좌번호 선택(반드시 주문자 성함으로 입금)</option>
                                                </select>
                                                <br />
                                                <input type="radio" name="f1gender1" id="f1gender1e1" /><label for="f1gender1e1"> 신용카드</label><br />
                                                <input type="radio" name="f1gender1" id="f1gender1e2" /><label for="f1gender1e2"> 실시간 계좌이체</label><br />
                                                <input type="radio" name="f1gender1" id="f1gender1e3" /><label for="f1gender1e3"> 에스크로</label><br />
                                                <input type="radio" name="f1gender1" id="f1gender1e4" /><label for="f1gender1e4"> 방문결제(카드만 가능)</label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">현금영수증</th>
                                            <td>
                                                <input type="radio" name="f1gender2" id="f1gender2e0" checked="checked" /><label for="f1gender2e0"> 신청</label>
                                                <input type="radio" name="f1gender2" id="f1gender2e1" /><label for="f1gender2e1"> 미신청</label>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /bbs_write -->

                                <h2 class="hb1 h2">약관동의</h2>
                                <table class="t5">
                                    <caption class="blind"><strong class="h1">동의여부</strong></caption>
                                    <tbody>
                                    <tr>
                                        <th class="tal" scope="row"><span class="com1agree1q1">진주목공예전수관 운영 및 관리 조례 시행규칙안</span></th>
                                        <td class="tac com1agree1w1"><a href="/inc/agree/02.jsp" class="ic_new_win" target="_blank" title="새 창">내용보기</a></td>
                                        <td class="tac com1agree1w1"><input type="checkbox" id="agree1w1" value="" /> <label for="agree1w1"> 동의함</label></td>
                                    </tr>
                                    <tr>
                                        <th class="tal" scope="row"><span class="com1agree1q1">진주목공예전수관 운영 및 관리 조례안</span></th>
                                        <td class="tac"><a href="/inc/agree/03.jsp" class="ic_new_win" target="_blank" title="새 창">내용보기</a></td>
                                        <td class="tac"><input type="checkbox" id="agree1w2" value="" /> <label for="agree1w2"> 동의함</label></td>
                                    </tr>
                                    <tr>
                                        <th class="tal" scope="row"><span class="com1agree1q1">예약약관</span></th>
                                        <td class="tac com1agree1w1"><a href="/inc/agree/04.jsp" class="ic_new_win" target="_blank" title="새 창">내용보기</a></td>
                                        <td class="tac"><input type="checkbox" id="agree1w3" value="" /> <label for="agree1w3"> 동의함</label></td>
                                    </tr>
                                    <tr>
                                        <th class="tal" scope="row"><span class="com1agree1q1">개인정보 수집 및 이용</span></th>
                                        <td class="tac com1agree1w1"><a href="/inc/agree/05.jsp" class="ic_new_win" target="_blank" title="새 창">내용보기</a></td>
                                        <td class="tac"><input type="checkbox" id="agree1w4" value="" /> <label for="agree1w4"> 동의함</label></td>
                                    </tr>
                                    </tbody>
                                </table>

                                <h2 class="hb1 h2">신청자동의</h2>
                                <!-- bbs_write -->
                                <div class="bbs_write">
                                    <table class="t1">
                                        <caption class="blind">
                                            <strong class="h1">신청자동의</strong>
                                        </caption>
                                        <col class="order_td_w1" /><col />
                                        <tbody>
                                        <tr>
                                            <th scope="row">결재동의</th>
                                            <td> <input type="checkbox" id="f1receiveEmail2" value="1" /><label for="f1receiveEmail2"> 상기 결제정보를 확인하였으며, 결재진행에 동의합니다.</label> </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">최종 결제금액</th>
                                            <td> <span class="order_total_price">200,000원</span></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /bbs_write -->

                            </fieldset>
                            <!-- //fieldset -->
                            <!-- infosection1 -->
                            <div class="infosection1">
                                <p class="tac">
                                    <button type="submit" value="submit" class="button submit">신청하기</button>
                                    <a href="?" class="button">주문취소</a>
                                </p>
                            </div>
                            <!-- /infosection1 -->
                        </form>
                        <!-- //신청서 작성 폼 -->



                    </div>
                    <!-- /#body_content -->
                </div>
                <!-- /#forPrint -->
            </div>
            <!-- /container -->
        </div>
        <!-- /#body -->

    </div>
    <!-- /#wrap -->

    <hr class="dpn" />

    <!-- #foot -->
    <div id="foot" class="init">
        <h2 class="blind">하단 정보</h2>

        <!-- fn1 -->
        <div id="fn1">
            <div class="container init">
                <ul>
                    <li><a href="http://www.jinju.go.kr/07guide/sitereport.jsp?amode=private&amp;pagesize=1000&amp;cpage=1&amp;gcode=1084" target="_blank" title="새 창">홈페이지 개선의견</a></li>
                    <li><a href="http://www.jinju.go.kr/07guide/privacy.jsp" target="_blank" title="새 창">개인정보 처리방침</a></li>
                    <li><a href="http://www.jinju.go.kr/07guide/copyright.jsp" target="_blank" title="새 창">저작권 정책</a></li>
                    <li><a href="http://www.jinju.go.kr/07guide/viewer.jsp" target="_blank" title="새 창">뷰어프로그램</a></li>
                    <li><a href="?">웹마스터 메일</a></li>
                </ul>
            </div>
        </div>
        <!-- /fn1 -->

        <!-- container -->
        <div class="container">
            <p id="foot_logo"><img src="/assets/images/woodcraft/www/layout/foot_logo@2x.png" alt="진주시" /></p>
            <!-- author1 -->
            <div id="author1">
                <strong class="h1 blind">작성자 (연락처/저작권)</strong>
                <address class="address">
                    52641 경상남도 진주시 명석면 광제산로 367  <a href="http://www.juso.go.kr/openIndexPage.do" target="_blank" title="새 창">도로명주소검색</a> <span class="dpib">대표전화 : <span class="ls0">055-749-2114</span> / 팩스 : <span class="ls0">055-749-2800</span></span>
                </address>
                <p class="nophishing">본 사이트에 게시된 이메일주소의 자동수집을 거부하며 이를 위반시 정보통신망법에 의해 형사처벌됩니다.</p>
                <address class="copyright">Copyright ⓒ 2018 Jinju City ALL RIGHTS RESERVED.</address>
            </div>
            <!-- /author1 -->
        </div>
        <!-- /container -->
    </div>
    <!-- /#foot -->

</div>
<!--/#container-->
</body>
</html>