<!DOCTYPE html>

<html lang="ko">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="author" content="진주목공예전수관" />
<meta name="keywords" content="진주목공예전수관, 로그인" />
<meta name="description" content="진주목공예전수관, 로그인" />
<title>로그인 | 진주목공예전수관</title>
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans" />
<link rel="stylesheet" type="text/css" href="/assets/css/woodcraft/www/font.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/woodcraft/www/lib.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/woodcraft/www/layout.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/woodcraft/www/content.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/woodcraft/www/template.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/woodcraft/www/popup.css" />
<script type="text/javascript" src="/assets/js/woodcraft/www/define/iscroll-min.js"></script>
<script type="text/javascript" src="/assets/js/woodcraft/www/define/hammer.min.js"></script>
<script type="text/javascript" src="/assets/js/woodcraft/www/define/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/assets/js/woodcraft/www/define/jquery.easing.1.3.js"></script>
<!--[if lt IE 9]>
<script type="text/javascript" src="/assets/js/woodcraft/www/define/html5shiv.min.js"></script>
<script type="text/javascript" src="/assets/js/woodcraft/www/define/selectivizr.js"></script>
<script type="text/javascript" src="/assets/js/woodcraft/www/define/respond.min.js"></script>
<script type="text/javascript" src="/assets/js/woodcraft/www/define/jquery.backgroundSize.js"></script>
<![endif]-->
<script type="text/javascript" src="/assets/js/woodcraft/www/lib_define.js"></script>
<script type="text/javascript" src="/assets/js/woodcraft/www/lib_scroll.js"></script>
<script type="text/javascript" src="/assets/js/woodcraft/www/lib.js"></script>
</head>
<body>

<!-- #container -->    
<div id="container">
<noscript><p>JavaScript has been disabled. This site requires JavaScript for full functionality, please enable.</p></noscript>

<!-- #popup -->
<div id="popup" class="init">
	<!-- #popup_head -->
	<div id="popup_head" class="clearfix">
	<a href="#?" onclick="window.close();return false;" class="close"><i class="ic1 bsContain"></i> <span class="blind">창 닫기</span></a>
		<!-- .container -->
		<div class="container">
            <h1>로그인</h1>
            
		</div>
		<!-- /.container -->	
	</div>
	<!-- /#popup_head -->

	<!-- #popup_body -->
	<div id="popup_body">
		<!-- .container -->
		<div class="container">

					<!-- login2 -->
					<div class="login2">
						<div class="wrap1">
							<div class="login2c1">
								<h2>회원 로그인</h2>
								<i class="ic1 bsContain"></i>
								<div class="login-con1">
									<!-- 작성 폼 -->
									<form action="?">
									<!-- fieldset -->
									<fieldset><legend class="blind">로그인 폼</legend>   
									<input id="username" name="username" class="inpt" type="text" title="이메일 입력" placeholder="아이디" autocomplete="off" />
									<input id="password" name="password" class="inpt" type="password" title="비밀번호 입력" placeholder="패스워드" autocomplete="off" />
									</fieldset>
									<!-- //fieldset -->
									<button type="submit" value="submit" class="button submit">로그인하기</button>
									</form>
									<!-- //작성 폼 -->    
								</div>
								<div class="login-con2">
									<a href="/assets/_lib/template/mypage/join1_login.html">회원가입</a>
									<a href="?">아이디찾기</a>
									<a href="?">비밀번호찾기</a>
								</div>
							</div>
							<div class="login2c2">
								<h2>비회원 로그인</h2>
								<div class="login-con3">
									<i class="ic2 bsContain"></i>
									<h3>실명인증</h3>
									<p class="t1">휴대폰을 활용하여<br /> 본인 여부를 확인하는 서비스입니다.</p>
									<p class="em">* 실명인증 고객센터 : <a href="tel:1600-1522"><em class="em">1600-1522</em></a></p>
									<div class="btns"><a href="?" target="_blank" title="새 창" class="button">휴대폰 인증하기</a></div>
								</div>
							</div>
						</div>
					</div>
					<!-- /login2 -->	

		</div>
		<!-- /.container -->	
	</div>
	<!-- /#popup_body -->
</div>
<!-- /#popup -->


</div>   
<!--/#container-->

</body>
</html>