@charset "utf-8";

html,
body,
#container, #wrap, #body{min-height:100%;}
.container{position:relative;min-width:300px;max-width:1240px;margin:0 10px;}

#skipnav{z-index:9999;position:absolute;left:0;top:0;width:100%;}
#skipnav *{display:inline;list-style:none;margin:0;padding:0;}
#skipnav a{display:block;position:absolute;left:-9999px;top:0;width:1px;height:1px;overflow:hidden;}
#skipnav a:focus{left:0;width:100%;height:auto;background:#34241e;color:#fff;text-decoration:none;text-align:center;}

/* #head */
#head{clear:both;position:relative;height:89px;z-index:100;}
    #head_s1{position:relative;background:#634133;height:29px;}
    #head_s2{position:relative;border-bottom:1px solid #a4abb0;height:60px;}

    #gn1{display:block;float:right;z-index:10;position:absolute;right:-10px;top:0;}
    #gn1 ul{text-align:left;}
    #gn1 li{float:left;display:inline-block;padding:0;background:url(../../../images/woodcraft/www/layout/gn1s.png) no-repeat 0 50%;}
    #gn1 li:first-child{}
    #gn1 li a{display:block;padding:.366em 1.5em .4em .666em;color:#fff;font-size:12px;}      
    #gn1 li a .ic1{display:inline-block;width:20px;height:20px;margin-left:-.333em;background:url() no-repeat center center;vertical-align:middle;}
    #gn1 li.m1 a,#gn1 li.m2 a{background:none;background:#4b3228;border-right:1px solid #785a4c;padding-left:1em;padding-right:1em}    
    #gn1 li.m1 a{border-left:1px solid #785a4c;}
    #gn1 li.m1 a .ic1{background-image:url(../../../images/woodcraft/www/layout/gn1p01.png);width:30px;}
    #gn1 li.m2 a .ic1{background-image:url(../../../images/woodcraft/www/layout/gn1p02.png);} 
    #gn1 li{display:none;}
    #gn1 li.m1,#gn1 li.m2{display:block;}
    #gn1 li.manager{display:block;background:none;background:#34241e;border-right:1px solid #785a4c;}	

    h1#logo{display:block;z-index:10;position:absolute;left:0;top:0;margin:40px 0 0 0;text-align:left;}
    h1#logo>a{}
    h1#logo>a>img{width:auto;height:29px;}

/* #foot */
#foot{clear:both;position:relative;background:#fff;margin:20px 0;}     
    #fn1{z-index:10;position:relative;font-size:12px;line-height:1;background:#34241e;padding:.5em 0 .32em 0;}
    #fn1 ul{position:relative;margin:0 -.5em 0 -.42em;overflow:hidden;}
    #fn1 li{display:inline-block;margin:0 0 0 -2px;padding:0 0 2px;background:url(../../../images/woodcraft/www/layout/fn1s.png) no-repeat 0 50%;}
    *+html #fn1 li{display:inline;}
    #fn1 li:first-child{background:transparent;}
    #fn1 li>a{float:left;padding:.166em .5em .166em .666em;color:#fff;;white-space:nowrap;}

    #foot .container{margin-top:15px;}
    #foot #fn1 .container{margin-top:0;}

    #foot_logo{display:none;margin:1em auto;text-align:center;}
    #foot_logo img{width:72px;margin:0 0 0 -20px;}

    #author1{position:relative;color:#666;font-size:12px;line-height:1.5;overflow:hidden;}
    #author1 .address{margin:0 0 .666em;}
    #author1 .address a.juso1{color:#8D6148;}
    #author1 .address a.tel1{color:#666;font-size:1em;}
    #author1 .nophishing{color:#787878;}
    #author1 .copyright{color:#787878;letter-spacing:0;}

/* #sidebar */
#sidebar{display:none;background:#8d6148;}
    #sidebar .snb{float:right;position:relative;left:-50%;white-space:nowrap;text-align:center;padding:.62em 0 .62em 0;}
    #sidebar .snb ul{float:left;position:relative;left:50%;min-height:1.666em;} 
    #sidebar .snb ul li {float:left;display:inline-block;margin:0 1em;}
    #sidebar .snb ul li.on {background:#fff !important;border-radius:5px;font-weight:bold;}
    #sidebar .snb ul li a{display:inline-block;color:#fff;padding:5px 20px 5px 20px;}
    #sidebar .snb ul li.on a{color:#634133 !important;}

/* #body */
#body{padding:0;margin:0;}
    #body>.container{}
    #body_head{position:relative;}
    #body_head>.container{margin:0 auto;}
    #body_head_s1{}
    #body_head_s2{}
    #body_content{clear:both;position:relative;padding:1.357em 0 1.666em 0;min-height:50px;}
     
/* #body_head */    
#body_title{clear:both;position:relative;margin:16px 0 5px 0;line-height:1.333;}
    #body_title h1{position:relative;margin:0;padding:0;border:0;background:transparent;color:#222;font-size:16px;}
    #location1{display:none;z-index:30;position:relative;margin:0;padding:0;overflow:hidden;}

    #bn1{display:inline-block;float:none;}
    #bn1 #bn1share1{z-index:10;position:absolute;right:100%;top:0;width:90px;height:28px;margin:0px -1px 0 0;border:1px solid #707070;background:#fff;border-radius:5px;}
    #bn1 #bn1share1 .deco1{content:'';float:left;position:absolute;right:0;top:50%;width:0;height:0;margin:-6px -6px -6px 0;border:6px solid transparent;border-left-color:#707070;border-right:0;}
    #bn1 #bn1share1 .deco1:before{content:'';float:left;position:absolute;right:0;top:50%;width:0;height:0;margin:-6px 1px;border:6px solid transparent;border-left-color:#fff;border-right:0;}
    #bn1 #bn1share1 ul a{margin-top:3px;width:25px;height:25px;background:none;margin-left:5px;}

    #bn1{float:right;z-index:40;position:relative;margin:-28px 4px 0 0;}
    #bn1 ul{float:left;}
    #bn1 li{float:left;}
    #bn1 a{float:left;position:relative;box-sizing:border-box;width:26px;height:26px;margin:0 0 0 3px;}
    #bn1 #bn1share1{display:none;float:left;}
    #bn1 #bn1share1 a>.ic1{width:19px;height:19px;}
    #bn1 .share1 a{}
    #bn1 .share1>a.on{}
    #bn1 a>.ic1{float:left;position:absolute;left:50%;top:50%;width:26px;height:26px;margin:-12px;background:url() no-repeat center center;background-size:contain;overflow:hidden;text-indent:-9999px;cursor:pointer;}
    #bn1 .facebook>a>.ic1{background-image:url(../../../images/woodcraft/www/layout/bn1facebook@2x.png);}
    #bn1 .twitter>a>.ic1{background-image:url(../../../images/woodcraft/www/layout/bn1twitter@2x.png);}
    #bn1 .kakaostory>a>.ic1{background-image:url(../../../images/woodcraft/www/layout/bn1kakaostory@2x.png);}
    #bn1 .print>a>.ic1{background-image:url(../../../images/woodcraft/www/layout/bn1print@2x.png);}
    #bn1 .link>a>.ic1{background-image:url(../../../images/woodcraft/www/layout/bn1link@2x.png);}
    #bn1 .share1>a>.ic1{background-image:url(../../../images/woodcraft/www/layout/bn1share1@2x.png);}
    #bn1 .share1>a.on>.ic1{background-image:url(../../../images/woodcraft/www/layout/bn1share1on@2x.png);}
    #bn1 a>.ic1>div{height:100%;}
    #bn1 a>.ic1>div>img{display:block;position:static !important;margin:0 auto;}


/* #tnb1 */
#tnb1{z-index:100;float:left;position:absolute;right:0;top:0;width:100%;line-height:1.333;}
    #tnb1 .b1.toggle{z-index:10;float:left;position:absolute;right:0px;top:11px;width:40px;height:40px;overflow:hidden;text-indent:-9999px;}
    #tnb1 .b1.toggle .ic1{float:left;position:absolute;left:50%;top:50%;width:40px;height:40px;margin:-20px;background:url(../../../images/woodcraft/www/layout/ictnb1menus@2x.png) no-repeat;background-size:contain;}
    #tnb1 .b1.toggle .ic1 img{left:0;right:0;top:0;bottom:0;}
    #tnb1c{display:block;visibility:hidden;z-index:10;position:fixed;left:auto;right:0;top:0;width:320px;height:100%;overflow-y:visible;}

    #tnb1c.on{display:block;visibility:visible;right:0;}
    #tnb1c>.bg{position:fixed;left:0;right:0;top:0;bottom:0;background:url(../../../images/woodcraft/www/layout/bg_opacity_70.png);}
    #tnb1c.on>.bg{}
    #tnb1c .b2{z-index:110;float:left;position:absolute;left:0;top:0;width:45px;height:45px;background-color:#1f1410;}
    #tnb1c .b2>.ic1{float:left;position:absolute;left:50%;top:50%;width:40px;height:40px;margin:-20px;background:url() no-repeat;background-size:contain;}
    #tnb1c .b2.close{}
    #tnb1c .b2.close>.ic1{background-image:url(../../../images/woodcraft/www/layout/ictnb1close@2x.png);}
    #tnb1c>div.cont{position:relative;right:-100%;width:320px;height:100%;background:#fff;overflow-y:auto;}
    #tnb1c.on>div.cont{right:0;}

    /* tnb1head_s1 */
    #tnb1head_s1{padding:0px;background:#634133;text-align:center;overflow:hidden;}

    #tnb1gn1{position:relative;height:45px;margin:0;background:#37241d;}
    #tnb1gn1 ul{text-align:right;}
    #tnb1gn1 li{display:inline-block;padding:0 0 0 1px;}
    #tnb1gn1 li:first-child{background:none;}
    #tnb1gn1 li>a{display:block;padding:.666em 1em;color:#fff;font-size:13px;line-height:1.82;}

    #tnb1gn2{position:relative;height:95px;}
    #tnb1gn2 ul{}
    #tnb1gn2 li{display:inline-block;padding:0 0 0 1px;text-align:center;}
    #tnb1gn2 li a{position:relative;}
    #tnb1gn2 li a i{display:block;width:30px;height:30px;background:url() 50% 50% no-repeat;margin:10px auto;background-size:contain;}
    #tnb1gn2 li a i.ic1{background-image:url(../../../images/woodcraft/www/layout/tnb1gn2ic1@x2.png);}
    #tnb1gn2 li a i.ic2{background-image:url(../../../images/woodcraft/www/layout/tnb1gn2ic2@x2.png);}
    #tnb1gn2 li a i.ic3{background-image:url(../../../images/woodcraft/www/layout/tnb1gn2ic3@x2.png);}
    #tnb1gn2 li a i.ic4{background-image:url(../../../images/woodcraft/www/layout/tnb1gn2ic4@x2.png);margin-top:0px;}
    #tnb1gn2 li:first-child{background:none;}
    #tnb1gn2 li>a{display:block;padding:.666em 1em;color:#fff;font-size:13px;}
    #tnb1gn2 li a span.num1{display:none;position:absolute;right:15%;top:15%;display:block;width:23px;height:23px;line-height:22px;border-radius:20px;background:#c25e00;font-size:12px;text-align:center;}

    /* depth1~depth4 */
    #tnb1 .smain{display:block;}
    /* depth1 */
    #tnb1 div.d1{clear:both;position:relative;min-height:100%;}
    #tnb1 div.d1>ul{position:relative;overflow:hidden;}
    #tnb1 div.d1>ul>li{display:inline;position:relative;}
    #tnb1 div.d1>ul>li>a{display:table;table-layout:fixed;z-index:20;position:relative;box-sizing:border-box;width:100%;border-bottom:1px solid #bbbbbb;background:url() no-repeat 95% 50%;color:#333;font-weight:bold;font-size:15px;line-height:1.333;word-break:keep-all;word-wrap:break-word;}
    #tnb1 div.d1>ul>li>a>.t1{display:block;padding:.833em 20px;vertical-align:middle;}
    #tnb1 div.d1>ul>li.hasSub>a{background-image:url(../../../images/woodcraft/www/layout/tnb1d1bg1has.png);}
    #tnb1 div.d1>ul>li>a:hover,
    #tnb1 div.d1>ul>li>a:focus{}
    /* depth1 활성 */
    #tnb1 div.d1>ul>li.on>a{background-color:#c25e00;background-image:url(../../../images/woodcraft/www/layout/tnb1d1bg1on.png);color:#fff;}
    /* depth2~3 */
    #tnb1 li>div[class^='d']{display:none;visibility:hidden;height:0;opacity:0;}
    #tnb1 li.on>div[class^='d']{display:block;visibility:visible;height:auto;opacity:1;}
    /* depth2 */
    #tnb1 li>div.d2{box-sizing:border-box;padding:5px 0px;background:#e1e2e1;border-bottom:1px solid #bbbbbb;}
    #tnb1 div.d2>.bg{display:none;}
    #tnb1 div.d2>.hg1{display:none;}
    #tnb1 div.d2>ul{}
    #tnb1 div.d2>ul>li{position:relative;background:url(../../../images/woodcraft/www/layout/tnb1d2li.png) no-repeat 20px 50%;}     
    #tnb1 div.d2>ul>li.on{background-image:url(../../../images/woodcraft/www/layout/tnb1d2lion.png);}     
    #tnb1 div.d2>ul>li>a{display:block;z-index:10;position:relative;min-height:0;padding:.283em 28px;border-bottom:none;background:url() no-repeat 95% 50%;color:#333;font-size:13px;}
    #tnb1 div.d2>ul>li.hasSub>a{background-image:url();}
    #tnb1 li.on>div.d2>ul>li.on>a{background-image:url();color:#c0462f;font-weight:bold;text-decoration:underline;}


@media print{
	/* hide */
	#head, #visual, #foot, #sidebar,#body_foot{display:none !important;}
	/* show */
	html{background:#fff !important;}
	body,
	#container, #wrap, 	#body,
	#body_head,
	#body_content{float:none !important;left:0 !important;top:0 !important;width:auto !important;min-width:0 !important;max-width:none !important;height:auto !important;margin:0 !important;padding:0 !important;border:0 !important;background:transparent !important;overflow:visible !important;box-shadow:none !important;}
	#body_title{display:block !important;position:static !important;left:0 !important;top:0 !important;height:auto !important;margin:0 0 1em 0 !important;padding:0 0 1em 0 !important;border:0 !important;}
	table{border-color:#999 !important;}
	table th,
	table td{border-color:#999 !important;}
}

@media all and (min-width:768px){
  
    .container{margin:0 20px;}
    
    #head{height:98px;}
        #head_s2{height:69px;}

        #gn1{right:-20px;}
        #gn1 li{display:block;}    

        h1#logo{margin-top:44px;}
        h1#logo>a>img{height:34px;}    
    
    #fn1{font-size:13px;}  
    #foot_logo{display:block;float:right;margin:0;}  
    #author1{font-size:13px;}    
    #author1 .address span.dpib{margin-left:10px;}

    #body_head_s1{text-align:center;}
    #body_title h1{font-size:27px;letter-spacing:-2px;margin-top:12px;font-family:NanumSquareEB;font-weight:600 !important;}
    #location1 *{box-sizing:border-box;}
    #location1:before{content:'';z-index:10;position:absolute;left:0;top:0;bottom:0;width:10px;}
    #location1:after{content:'';z-index:10;position:absolute;right:0;top:0;bottom:0;width:10px;}
    #location1 .breadcrumb{width:2000px;height:100%;margin-left:0;white-space:nowrap;border:1px solid #cecece;border-width:1px 0;}
    #location1 .breadcrumb .cont{float:left;height:20px;margin:0 0 0;padding-left:10px;padding-right:10px;}
    #location1 .breadcrumb .cont>a{float:left;position:relative;height:100%;padding:4px .333em 5.5px;color:#363940;font-size:12px;line-height:1;}
    #location1 .breadcrumb .cont>a.on{font-weight:bold;}
    #location1 .breadcrumb .cont>.sep{float:left;width:5px;height:100%;background:url(../../../images/woodcraft/www/layout/location1sep.png) no-repeat left center;text-align:center;overflow:hidden;text-indent:-9999px;}
    #location1 .breadcrumb .cont>.sep img{display:block;position:static !important;margin:0 auto;}
    #location1 .breadcrumb .cont>.home{width:20px;height:20px;padding:0;overflow:hidden;text-indent:-9999px;}
    #location1 .breadcrumb .cont>.home:before{content:'';float:left;position:absolute;left:50%;top:50%;width:13px;height:12px;margin:-7px;background:url(../../../images/woodcraft/www/layout/location1home.png) no-repeat center center;background-size:contain;}
    #location1 .breadcrumb a:last-of-type{text-decoration:none;cursor:default;}    
    #location1{display:block;display:inline-block;margin:0;border-bottom:0;}
    #location1 .breadcrumb{width:auto;}    

    #bn1{margin-top:-66px;}
    #bn1 #bn1share1{width:120px;}
    #bn1 #bn1share1 ul a{margin-top:13px;width:25px;height:25px;background:none;margin-left:15px;}    

    #bn1 a{width:39px;height:39px;margin-left:4px;}
    #bn1 a>.ic1{width:39px;height:39px;margin:-20px;}  
    #bn1 #bn1share1{height:35px;}    
    #bn1 #bn1share1 a>.ic1{width:24px;height:24px;}   

    #tnb1 li>div.d2{padding:13px 0px;}
    #tnb1 div.d2>ul>li>a{padding:.383em 28px;}
}

@media all and (min-width:1000px){
    
}

@media all and (min-width:1260px){
    .container{max-width:1300px;margin:0 auto;}

    #head{height:130px;}
        #head_s1{position:static;height:36px;}
        #head_s2{position:static;height:94px;}
        #gn1{right:0;}
        #gn1 li a{display:block;padding:.566em 1.5em .5em .666em;font-size:14px;}  

        h1#logo{margin-top:54px;}
        h1#logo>a>img{height:44px;}      

    #foot{margin:40px 0 20px 0;}
    #fn1{font-size:15px;padding:1em 0 .82em 0;}
    #foot .container{margin-top:20px;}
    #author1{font-size:15px;}     
    #foot_logo img{width:98px;}

    #sidebar{display:block;font-size:17px;}

    #body_title{margin-bottom:11px;}    
    #body_title h1{font-size:42px;letter-spacing:-1px;margin-top:37px;}

    #location1 .breadcrumb .cont{height:30px;padding-left:20px;padding-right:20px;}    
    #location1 .breadcrumb .cont>.home{height:30px;}
    #location1 .breadcrumb .cont>a{padding:8px .333em 5.5px;font-size:14px;}    
    #bn1{margin-top:-96px;}
    #bn1 a{margin-left:6px;}

    #tnb1{z-index:100;float:left;position:absolute;right:0;top:20px;width:950px;line-height:1.333;}
        #tnb1 .b1.toggle{display:none;}
        #tnb1c{display:block !important;visibility:visible;z-index:auto;position:absolute;left:0;right:0;top:0; width:auto;min-height:70px;overflow-y:visible;}
        #tnb1c.on{display:block;visibility:visible;right:0;}
        #tnb1c>.bg{display:none;}
        #tnb1c .b2{display:none;}
        #tnb1c>div.cont{position:relative;right:0;width:100%;height:100%;background:none;overflow-y:visible;}
        #tnb1c.on>div.cont{right:0;}
        #tnb1head_s1{display:none;}
        #tnb1 .smain{display:block;}

        #tnb1 div.d1{clear:both;position:absolute;left:0;right:0;top:0;height:74px;min-height:100%;}
        #tnb1 div.d1.over{height:315px;}
        #tnb1 div.d1>.bg{border-bottom:1px solid #bbb;position:absolute;left:-800px;right:-800px;top:74px;bottom:0;margin:0 0 0 -240px;background:#fff;}

        #tnb1 div.d1>ul{position:relative;width:100%;margin:0 auto;overflow:hidden;}
        #tnb1 div.d1>ul>li{display:inline;float:left;position:relative;}
        #tnb1 div.d1>ul>li>a{display:table;table-layout:fixed;z-index:auto;position:relative;box-sizing:border-box;width:100%;height:70px;padding:0 0 18px;border-bottom:0;color:#111;font-size:20px;line-height:1.46;word-break:keep-all; word-wrap:break-word;}
        #tnb1 div.d1>ul>li>a>.t1{display:table-cell;width:100% !important;text-align:center;vertical-align:middle;padding:.666em 0px;}
        #tnb1 div.d1>ul>li.m1{width:150px;}
        #tnb1 div.d1>ul>li.m2{width:180px;}
        #tnb1 div.d1>ul>li.m3{width:160px;}
        #tnb1 div.d1>ul>li.m4{width:170px;}
        #tnb1 div.d1>ul>li.m5{width:140px;}
        #tnb1 div.d1>ul>li.m6{width:150px;}
/*
        #tnb1 div.d1>ul>li.m1>a>.t1{padding:.666em 23px;}
        #tnb1 div.d1>ul>li.m2>a>.t1{padding:.666em 18px;}
        #tnb1 div.d1>ul>li.m3>a>.t1{padding:.666em 20px;}
        #tnb1 div.d1>ul>li.m4>a>.t1{padding:.666em 31px;}
        #tnb1 div.d1>ul>li.m5>a>.t1{padding:.666em 20px;}
        #tnb1 div.d1>ul>li.m6>a>.t1{padding:.666em 32px;}
*/
        #tnb1 div.d1>ul>li.hasSub>a{background:none;}
        #tnb1 div.d1>ul>li>a:hover,
        #tnb1 div.d1>ul>li>a:focus{}
        #tnb1 div.d1>ul>li.on>a{background:transparent;color:#634133;}
        #tnb1 div.d1.over>ul>li.on>a{}
        #tnb1 div.d1.over>ul>li.over>a{color:#634133;}
        #tnb1 li>div[class^='d']{display:block;visibility:hidden;height:0;opacity:0;}
        #tnb1 div.d1.over li>div[class^='d']{display:block;visibility:visible;height:auto;opacity:1;}
        #tnb1 li.on>div[class^='d']{display:block;visibility:visible;height:auto;opacity:1;}
        #tnb1 li.over>div[class^='d']{display:block;visibility:visible;height:auto;opacity:1;}

        #tnb1 li>div.d2{box-sizing:border-box;width:100%;height:0 !important;padding:0;border-top:1px solid #fff;background:transparent;/*border-top:6px solid #fff*/;border-bottom:none;}
        #tnb1 div.d1.over li>div.d2{height:240px !important;padding:20px 0;}
        #tnb1 li.on>div.d2{background:#e6d7af url(../../../images/woodcraft/www/layout/tnb1d2topbg1.png) 0 0 no-repeat;border-top:1px solid #8d6148;-webkit-margin-before:1px;}
        #tnb1 li.over>div.d2{background:#e0cea1 url(../../../images/woodcraft/www/layout/tnb1d2topbg1.png) 0 0 no-repeat;border-top:1px solid #8d6148;-webkit-margin-before:1px;}
        #tnb1 div.d2>.bg{display:none;}
        #tnb1 div.d2>.hg1{display:none;}
        #tnb1 li.on>div.d2>.bg,
        #tnb1 li.over>div.d2>.bg{display:block;position:absolute;top:73px;left:50%;width:0;height:0;margin:-8px;border-left:8px solid transparent;border-right:8px solid transparent;border-bottom:9px solid #8d6148;}
        #tnb1 div.d2>ul{}
        #tnb1 div.d2>ul>li{position:relative;background:none;}
        #tnb1 div.d2>ul>li.on{background-image:none;}     
        #tnb1 div.d2>ul>li>a{display:block;z-index:10;position:relative;min-height:0;padding:.316em 20px;border-bottom:0;background:url() no-repeat 20px .916em;font-size:15px;color:#333;text-align:left;text-align:center;}
        #tnb1 div.d2>ul>li.hasSub>a{background-image:url();}
        #tnb1 div.d2>ul>li>a:hover,
        #tnb1 div.d2>ul>li>a:focus{color:#bd472f;text-decoration:underline;}
        #tnb1 li.on>div.d2>ul>li.on>a{background-image:url();text-decoration:underline;}
        #tnb1 div.d2>ul>li>a[target='_blank']:after{content:'';display:inline-block;width:11px;height:11px;margin:0 0 3px 5px;background:url(../../../images/woodcraft/www/lib/ic11newwindow.png) no-repeat;vertical-align:middle;}   
        #tnb1 div.d2>ul>li>a:hover[target='_blank']:after,
        #tnb1 div.d2>ul>li>a:focus[target='_blank']:after{background-image:url(../../../images/woodcraft/www/lib/ic11newwindow_on.png);}         
        
        #tnb1 div.d1>ul>li.m7{display:none;}
}

@media all and (min-width:1340px){

}    
