@charset "utf-8";
.ir {
    position:absolute;
    z-index:-1;
    visibility:hidden;
}
.error {
	position: relative;
	display: block;
	margin: 80px auto 0 auto;
	padding: 0;
	width: 600px;
	*zoom: 1;
	overflow: hidden;
	font-family: 'NanumBarunGothic';
	font-size: 14px;
	color: #666;
}
.error:after { display: block; clear: both; content: "";}
.error a { color: #666;}
.error a:hover,
.error a:focus { color: #999;}
.error h1 {
	position: relative;
	display: block;
	margin: 0;
	padding: 0;
	height: 55px;
	background: url(../images/error/logo_error.png) no-repeat 20px bottom;
}
.error h2 {
	position: relative;
	display: block;
	margin: 20px 0 10px 0;
	padding: 10px 0;
	font-size: 30px;
	color: #333;
	text-align: center;
	font-weight: bold;
}
.error div.warning {
	position: relative;
	display: block;
	margin: 0;
	padding: 60px 0 0 0;
	height: 82px;
	border-top: 4px solid #538ce9;
	background: url(../images/error/ico_warning.png) no-repeat center bottom;
}
.error .info {
	position: relative;
	display: block;
	margin: 10px 0 0 0;
	padding: 20px 20px 40px 20px;
	line-height: 160%;
	color: #999;
	border-bottom: 1px solid #ddd
}
.error .btn-container {
	position: relative;
	display: block;
	margin: 20px 0 0 0;
	padding: 4px 20px;
	text-align: right;
}
.error .btn-container a {
	position: relative;
	display:-moz-inline-stack;     /*FF2*/
	display:inline-block;
	*zoom:1;
	*display:inline;
	margin: 0;
	padding: 10px 20px;
	color: #fff;
	font-weight: bold;
	font-size: 16px;
	background: #538ce9;
	border-bottom: 3px solid #517cd2;
	border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; -o-border-radius: 4px; -ms-border-radius: 4px; 
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1); -webkit-text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1); -o-text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1); -ms-text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1);
}
.error .btn-container a:hover,
.error .btn-container a:focus {
	background: #9a9fa9;
	border-bottom-color: #8d919a;
}

