<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.twogoms.woodcraft.repository.cmm.MenuRepository">

    <resultMap id="menuMap" type="com.twogoms.woodcraft.dto.cmm.MenuDto">
        <result property="menuNm" column="MENU_NM" javaType="java.lang.String" />
        <result property="progrmFileNm" column="PROGRM_FILE_NM" javaType="java.lang.String" />
        <result property="menuNo" column="MENU_NO" javaType="java.lang.Long" />
        <result property="upperMenuNo" column="UPPER_MENU_NO" javaType="java.lang.Long" />
        <result property="menuOrdr" column="MENU_ORDR" javaType="java.lang.Integer" />
        <result property="menuDc" column="MENU_DC" javaType="java.lang.String" />
        <result property="progrmStrePath" column="PROGRM_STRE_PATH" javaType="java.lang.String" />
        <result property="url" column="URL" javaType="java.lang.String" />
    </resultMap>

    <select id="getMenuInfoList" parameterType="Map" resultMap="menuMap">

        SELECT A.MENU_NM
        ,      A.PROGRM_FILE_NM
        ,      A.MENU_NO
        ,      A.UPPER_MENU_NO
        ,      A.MENU_ORDR
        ,      A.MENU_DC
        ,      B.PROGRM_STRE_PATH
        ,      B.URL
        FROM (
              SELECT A.*
              FROM COMTNMENUINFO A
              INNER JOIN COMTNMENUCREATDTLS B
              ON A.MENU_NO = B.MENU_NO
              WHERE B.AUTHOR_CODE = #{authorCode}
              <if test="menuType != null and menuType != ''">
                  AND A.RELATE_IMAGE_PATH = #{menuType}
              </if>
        ) A
        LEFT OUTER JOIN COMTNPROGRMLIST B
        ON A.PROGRM_FILE_NM = B.PROGRM_FILE_NM
        ORDER BY A.MENU_NO

    </select>

</mapper>