<!DOCTYPE html>

<html lang="ko">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="author" content="진주목공예전수관" />
<meta name="keywords" content="진주목공예전수관, 목공예품구매, 목공예전시물" />
<meta name="description" content="진주목공예전수관, 목공예품구매, 목공예전시물" />
<title>목공예품구매 목록 | 진주목공예전수관</title>
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans" />
<link rel="stylesheet" type="text/css" href="/assets/css/woodcraft/www/font.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/woodcraft/www/lib.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/woodcraft/www/layout.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/woodcraft/www/content.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/woodcraft/www/template.css" />
<script type="text/javascript" src="/assets/js/woodcraft/www/define/iscroll-min.js"></script>
<script type="text/javascript" src="/assets/js/woodcraft/www/define/hammer.min.js"></script>
<script type="text/javascript" src="/assets/js/woodcraft/www/define/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/assets/js/woodcraft/www/define/jquery.easing.1.3.js"></script>
<!--[if lt IE 9]>
<script type="text/javascript" src="/assets/js/woodcraft/www/define/html5shiv.min.js"></script>
<script type="text/javascript" src="/assets/js/woodcraft/www/define/selectivizr.js"></script>
<script type="text/javascript" src="/assets/js/woodcraft/www/define/respond.min.js"></script>
<script type="text/javascript" src="/assets/js/woodcraft/www/define/jquery.backgroundSize.js"></script>
<![endif]-->
<script type="text/javascript" src="/assets/js/woodcraft/www/lib_define.js"></script>
<script type="text/javascript" src="/assets/js/woodcraft/www/lib_scroll.js"></script>
<script type="text/javascript" src="/assets/js/woodcraft/www/lib.js"></script>
</head>
<body>

<!-- #container -->    
<div id="container">
<noscript><p>JavaScript has been disabled. This site requires JavaScript for full functionality, please enable.</p></noscript>

<!-- #skipnav -->
<div id="skipnav">
	<ul>
	<li><a href="#body">본문 바로가기</a></li>
	</ul>
</div>
<!-- /#skipnav -->

<hr class="dpn" />

<!-- #head -->
<div id="head" class="init">
    <!-- #head_s1 -->
    <div id="head_s1" class="clearfix">    
        <!-- container -->
        <div class="container">
            <!-- gn1 -->
            <div id="gn1">
            <strong class="blind">Global Navigation</strong>
            <ul>
            <li><a href='?'>사이트맵</a></li>
            <li><a href='?'>로그인</a></li>
            <li><a href='?'>회원가입</a></li>
            <li><a href='?'>장바구니</a></li>
            <li class="m1"><a href="http://www.jinju.go.kr" target="_blank" title="새 창"><i class="ic1"></i>진주시</a></li>
            <li class="m2"><a href="http://tour.jinju.go.kr/" target="_blank" title="새 창"><i class="ic1"></i>문화관광</a></li>
            <li class="manager"><a href="http://tour.jinju.go.kr/" target="_blank" title="새 창"><i class="ic1"></i>관리자</a></li>
            </ul>
            </div>
            <!-- /gn1 -->
            <h1 id="logo">
                <a href='/' title="홈으로 이동"><img src="/assets/images/woodcraft/www/layout/logo@2x.png" alt="진주목공예전수관" /></a>
            </h1>               
        </div>
    <!-- /container -->
    </div>
    <!-- /#head_s1 -->

    <!-- #head_s2 -->
    <div id="head_s2" class="clearfix">  
        <!-- container -->
        <div class="container">
            <h2 class="blind">상단 메뉴</h2>

			<!-- tnb1 [jQ] -->
			<div id="tnb1">
			<h3 class="blind">주 메뉴</h3>
			<strong class="h1"><a href="#tnb1c" class="b1 toggle"><i class="ic1 bsContain"></i> <span class="t1 blind">주 메뉴</span> <span class="blind">여닫기</span></a></strong> 
			<!-- tnb1c -->
			<div id="tnb1c"><div class="bg"></div>
			<!-- cont -->
			<div class="cont">
				<a href="#tnb1c" class="b2 close"><i class="ic1 bsContain"></i> <span class="t1 blind">주 메뉴</span> <span class="blind">닫기</span></a>

				<!-- tnb1head_s1 -->
				<div id="tnb1head_s1">

					<!-- tnb1gn1 -->
					<div id="tnb1gn1">
						<strong class="blind">Global Navigation</strong>
						<ul>
						<li><a href='?'><i class="ic1 bsContain"></i> <span class="t1">로그아웃</span></a></li>
						</ul>
					</div>
					<!-- tnb1gn1 -->

					<!-- tnb1gn2 -->
					<div id="tnb1gn2">
						<strong class="blind">Global Navigation</strong>
						<ul>
						<li><a href="?" target="_blank" title="새 창"><i class="ic1 bsContain"></i> <span class="t1">장바구니</span><span class="num1">1</span></a></li>
						<li><a href="?" target="_blank" title="새 창"><i class="ic2 bsContain"></i> <span class="t1">마이페이지</span></a></li>
						<li><a href="?" target="_blank" title="새 창"><i class="ic3 bsContain"></i> <span class="t1">나의 정보</span></a></li>
						</ul>
					</div>
					<!-- /tnb1gn2 -->

				</div>
				<!-- /tnb1head_s1 -->

				<!-- d1 -->
				
				<div class="d1"><div class="bg"></div>
				<ul>
				<li class="m1"><a href='?'><i class="ic1"></i> <span class="t1">전수관 소개</span></a>
					<div class="d2"><div class="bg"></div>
					<ul>
					<li class="m1"><a href='?'><i class="ic1"></i> <span class="t1">인사말</span></a></li>
					<li class="m2"><a href='?'><i class="ic1"></i> <span class="t1">주요연혁</span></a></li>
					<li class="m3"><a href='?'><i class="ic1"></i> <span class="t1">이념 및 목표</span></a></li>
					<li class="m4"><a href='?'><i class="ic1"></i> <span class="t1">시설 운영 안내</span></a></li>
					<li class="m5"><a href='?'><i class="ic1"></i> <span class="t1">오시는 길</span></a></li>
					</ul>
					</div>
				</li>
				<li class="m2"><a href='?'><i class="ic1"></i> <span class="t1">전수관 둘러보기</span></a>
					<div class="d2"><div class="bg"></div>
					<ul>
					<li class="m1"><a href='?'><i class="ic1"></i> <span class="t1">주요시설</span></a></li>
					<li class="m2"><a href='?'><i class="ic1"></i> <span class="t1">부대시설</span></a></li>
					<li class="m3"><a href='?'><i class="ic1"></i> <span class="t1">시설물(장비) 안내</span></a></li>
					<li class="m4"><a href='?'><i class="ic1"></i> <span class="t1">시설물 사용신청</span></a></li>
					</ul>
					</div>
				</li>
				<li class="m3 on"><a href='?'><i class="ic1"></i> <span class="t1">목공예 전시물</span></a>
					<div class="d2"><div class="bg"></div>
					<ul>
					<li class="m1"><a href='?'><i class="ic1"></i> <span class="t1">목공예란</span></a></li>
					<li class="m2"><a href='?'><i class="ic1"></i> <span class="t1">목공예인 소개</span></a></li>
					<li class="m3 on"><a href='?'><i class="ic1"></i> <span class="t1">목공예품 구매</span></a></li>
					</ul>
					</div>
				</li>
				<li class="m4"><a href='?'><i class="ic1"></i> <span class="t1">교육/체험</span></a>
					<div class="d2"><div class="bg"></div>
					<ul>
					<li class="m1"><a href='?'><i class="ic1"></i> <span class="t1">교육 프로그램 안내</span></a></li>
					<li class="m2"><a href='?'><i class="ic1"></i> <span class="t1">교육 프로그램 예약</span></a></li>
					<li class="m3"><a href='?'><i class="ic1"></i> <span class="t1">일일 체험</span></a></li>
					<li class="m4"><a href='?'><i class="ic1"></i> <span class="t1">일일 체험 예약</span></a></li>
					</ul>
					</div>
				</li>
				<li class="m5"><a href='?'><i class="ic1"></i> <span class="t1">커뮤니티</span></a>
					<div class="d2"><div class="bg"></div>
					<ul>
					<li class="m1"><a href='?'><i class="ic1"></i> <span class="t1">공지사항</span></a></li>
					<li class="m2"><a href='?'><i class="ic1"></i> <span class="t1">방문후기</span></a></li>
					<li class="m3"><a href='?'><i class="ic1"></i> <span class="t1">소통갤러리</span></a></li>
					<li class="m4"><a href='?'><i class="ic1"></i> <span class="t1">자유게시판</span></a></li>
					</ul>
					</div>
				</li>
				<li class="m6"><a href='?'><i class="ic1"></i> <span class="t1">관광정보</span></a>
					<div class="d2"><div class="bg"></div>
					<ul>
					<li class="m1"><a href="http://jinju.go.kr/03about/07_02.jsp" target="_blank" title="새 창"><i class="ic1"></i> <span class="t1">진주시 소개</span></a></li>
					<li class="m2"><a href="?" target="_blank" title="새 창"><i class="ic1"></i> <span class="t1">문화관광</span></a></li>
					<li class="m3"><a href="?" target="_blank" title="새 창"><i class="ic1"></i> <span class="t1">숙박시설</span></a></li>
					<li class="m4"><a href="?" target="_blank" title="새 창"><i class="ic1"></i> <span class="t1">음식정보</span></a></li>
					<li class="m5"><a href="?" target="_blank" title="새 창"><i class="ic1"></i> <span class="t1">교통정보</span></a></li>
					<li class="m6"><a href="?" target="_blank" title="새 창"><i class="ic1"></i> <span class="t1">오시는길</span></a></li>
					</ul>
					</div>
				</li>
				</ul>
				</div>				
				<!-- /d1 -->

				<a href="#tnb1c" class="b2 close"><i class="ic1 bsContain"></i> <span class="t1 blind">주 메뉴</span> <span class="blind">닫기</span></a>
			</div>
			<!-- /cont -->
			</div>
			<!-- /tnb1c -->
			</div>
			<!-- /tnb1 -->

        </div>
        <!-- /container -->            
    </div>
    <!-- /#head_s2 -->           
 
</div>
<!-- /#head -->    

<hr class="dpn" />


<!-- #wrap -->
<div id="wrap">
    <!-- #sidebar -->
    <div id="sidebar" class="clearfix init">        
        <div class="container">
            <h2 class="blind">목공예품 구매</h2>
            <strong class="h1 blind">부 메뉴</strong>            
            <div class="snb">
                <ul>
                <li><a href='?'>목공예란</a></li>
                <li><a href='?'>목공예인 소개</a></li>
                <li class="on"><a href='?'>목공예품 구매</a></li>            
                </ul>
            </div>
        </div>                     
    </div>
    <!-- /#sidebar --> 
    
    <hr class="dpn" />

    <!-- #body -->
    <div id="body">
        <!-- container -->
        <div class="container clearfix">
            <!-- #forPrint -->
            <div id="forPrint">

                <!-- #body_head -->
                <div id="body_head" class="init">
                 
                    <!-- body_head_s1 -->
                    <div id="body_head_s1">
                        <div id="body_title"><h1 class="hb1 h1">목공예품 구매</h1></div>
                        <!-- location1 -->
                        <div id="location1">
                            <div class="breadcrumb clearfix">
                                <strong class="blind">현재페이지 위치:</strong>
                                <span class="cont">
                                    <a href='?' class='home' title='홈'>홈</a>
                                    <span class='sep'> &gt; </span><a href='?'>목공예 전시물</a>
                                    <span class='sep'> &gt; </span><a href='?' class="on">목공예품구매</a>
                                </span>
                            </div>
                        </div>
                        <!-- /location1 -->                                                                         
                    </div>
                    <!-- /body_head_s1 -->
                         
                    <!-- body_head_s2 -->
                    <div id="body_head_s2">
                        <!-- bn1 -->
                        <div id="bn1">
                            <ul>
                            <li class="m share1">
                                <div id="bn1share1">
                                    <ul>
                                    <li class="m facebook"><a href="#?"><i class="ic1 bsContain"> <span class="blind">페이스북 담기</span></i></a></li>
                                    <li class="m twitter"><a href="#?"><i class="ic1 bsContain"> <span class="blind">트위터 담기</span></i></a></li>
                                    <li class="m kakaostory"><a href="#?"><i class="ic1 bsContain"> <span class="blind">카카오스토리 담기</span></i></a></li>
                                    </ul>
                                    <i class="deco1 bsContain"></i>
                                </div>
                                <a href="#bn1share1" class="m toggle"><i class="ic1 bsContain"> <span class="blind">Share toggle</span></i></a>
                            </li>
                            <li class="m link"><a href="#?"><i class="ic1 bsContain"> <span class="blind">링크 공유 (링크 주소 복사)</span></i></a></li>
                            <li class="m print"><a href="#?" onclick="window.print(); return false;" target="_blank"><i class="ic1 bsContain"> <span class="blind">본문 인쇄</span></i></a></li>
                            </ul>
                        </div>
                        <!-- /bn1 -->        
                    </div>
                    <!-- /body_head_s2 -->            
                </div>
                <!-- /#body_head -->			

                <!-- #body_content -->
                <div id="body_content" class="body_content init">


					<!-- product1view1 -->
					<div class="product1view1">
						<!-- info1 -->
						<div class="info1">
							<div class="f1">
								
								<!-- 사진 갤러리 -->
								<div class="pic1list1">
									<div class="figure pt1">
										<p class="p1"><img src="/assets/images/woodcraft/www/_sample/product_img_01@2x.jpg" alt="★대체텍스트필수" /></p>
									</div>
									<div class="mNum">
										<ul>
										<li class="m"><a href="/assets/images/woodcraft/www/_sample/product_img_01@2x.jpg"><span class="mf1"><img src="/assets/images/woodcraft/www/_sample/product_img_01@2x.jpg" alt="★대체텍스트필수" /></span></a></li>			
										<li class="m"><a href="/assets/images/woodcraft/www/_sample/product_img_02@2x.jpg"><span class="mf1"><img src="/assets/images/woodcraft/www/_sample/product_img_02@2x.jpg" alt="★대체텍스트필수" /></span></a></li>	
										<li class="m"><a href="/assets/images/woodcraft/www/_sample/product_img_03@2x.jpg"><span class="mf1"><img src="/assets/images/woodcraft/www/_sample/product_img_03@2x.jpg" alt="★대체텍스트필수" /></span></a></li>	
										<li class="m"><a href="/assets/images/woodcraft/www/_sample/product_img_04@2x.jpg"><span class="mf1"><img src="/assets/images/woodcraft/www/_sample/product_img_04@2x.jpg" alt="★대체텍스트필수" /></span></a></li>																	<li class="m"><a href="/assets/images/woodcraft/www/_sample/product_img_01@2x.jpg"><span class="mf1"><img src="/assets/images/woodcraft/www/_sample/product_img_01@2x.jpg" alt="★대체텍스트필수" /></span></a></li>			
										<li class="m"><a href="/assets/images/woodcraft/www/_sample/product_img_02@2x.jpg"><span class="mf1"><img src="/assets/images/woodcraft/www/_sample/product_img_02@2x.jpg" alt="★대체텍스트필수" /></span></a></li>	
										<li class="m"><a href="/assets/images/woodcraft/www/_sample/product_img_03@2x.jpg"><span class="mf1"><img src="/assets/images/woodcraft/www/_sample/product_img_03@2x.jpg" alt="★대체텍스트필수" /></span></a></li>	
										<li class="m"><a href="/assets/images/woodcraft/www/_sample/product_img_04@2x.jpg"><span class="mf1"><img src="/assets/images/woodcraft/www/_sample/product_img_04@2x.jpg" alt="★대체텍스트필수" /></span></a></li>																					
										</ul>
									</div>
								</div>
								<!-- /pic1list1 -->
								<script type="text/javascript">/*<![CDATA[*/
								changePic1('click', '.pic1list1', '.m', 1, '.pt1');
								/*]]>*/</script>								
								<!-- /사진 갤러리 -->
															
							</div>
							<span class="texts">
								<strong class="t1">목각인형</strong>
								<span class="t2">
									<ul class="bu">
									<li>
										<span class="tit">작가</span> <b>고판선</b> 
										&nbsp;
										<a href="/assets/_lib/template/artist/list.html" target="_blank" title="새 창" class="ic1_user">작가소개 보기</a>
									</li>
									<li><span class="tit">가격</span> <em class="price">200,000원</em></li>				
									<li><span class="tit">배송</span> 택배(배송비별도:3,000)</li>
									</ul>
								</span>
							</span>
							<!-- btns -->
							<div class="btns">
							<a href="?" class="button b1buy">바로구매</a>
							&nbsp;
							<a href="?" class="button b1cart">장바구니</a>
							</div>
							<!-- /btns -->
						</div>
						<!-- /info1 -->

						<!-- substance -->
						<div class="substance">						
						제품설명이 나옵니다.<br /><br />
						<!--<div><img src="/assets/images/woodcraft/www/_sample/product_img_01@2x.jpg" alt="★대체텍스트필수" /></div>-->
						</div>
						<!-- /substance -->
								
					</div>
					<!-- /product1view1 -->	
					
					<!-- infosection1 -->
					<div class="infosection1">
					<p class="tac">
					<a href="?" class="button">목록</a>
					</p>
					</div>
					<!-- /infosection1 -->						
				

                </div>
                <!-- /#body_content -->
            </div>
            <!-- /#forPrint -->		
		</div>
        <!-- /container -->
    </div>
    <!-- /#body -->
                
</div>
<!-- /#wrap -->

<hr class="dpn" />

<!-- #foot -->
<div id="foot" class="init">
    <h2 class="blind">하단 정보</h2>

    <!-- fn1 -->
    <div id="fn1">
        <div class="container init">
        <ul>
        <li><a href="http://www.jinju.go.kr/07guide/sitereport.jsp?amode=private&amp;pagesize=1000&amp;cpage=1&amp;gcode=1084" target="_blank" title="새 창">홈페이지 개선의견</a></li>
        <li><a href="http://www.jinju.go.kr/07guide/privacy.jsp" target="_blank" title="새 창">개인정보 처리방침</a></li>
        <li><a href="http://www.jinju.go.kr/07guide/copyright.jsp" target="_blank" title="새 창">저작권 정책</a></li>
        <li><a href="http://www.jinju.go.kr/07guide/viewer.jsp" target="_blank" title="새 창">뷰어프로그램</a></li>
        <li><a href="?">웹마스터 메일</a></li>  
        </ul>
        </div>
    </div>
    <!-- /fn1 -->    

    <!-- container -->
    <div class="container">
        <p id="foot_logo"><img src="/assets/images/woodcraft/www/layout/foot_logo@2x.png" alt="진주시" /></p>
        <!-- author1 -->
        <div id="author1">
            <strong class="h1 blind">작성자 (연락처/저작권)</strong>
            <address class="address">
                52641 경상남도 진주시 명석면 광제산로 367  <a href="http://www.juso.go.kr/openIndexPage.do" target="_blank" title="새 창">도로명주소검색</a> <span class="dpib">대표전화 : <span class="ls0">055-749-2114</span> / 팩스 : <span class="ls0">055-749-2800</span></span>
            </address>
            <p class="nophishing">본 사이트에 게시된 이메일주소의 자동수집을 거부하며 이를 위반시 정보통신망법에 의해 형사처벌됩니다.</p>
            <address class="copyright">Copyright ⓒ 2018 Jinju City ALL RIGHTS RESERVED.</address>
        </div>
        <!-- /author1 -->
    </div>
    <!-- /container -->
</div>
<!-- /#foot -->

</div>   
<!--/#container-->
</body>
</html>