	






<!DOCTYPE html>

<html lang="ko">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta name="author" content="진주목공예전수관"/>
	<meta name="keywords" content="진주목공예전수관"/>
	<meta name="description" content="진주목공예전수관"/>
	<title>
		
        마이페이지 &gt; 목공예 구매내역 &gt; 목공예 구매내역 상세
    
	</title>
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans"/>
	<link rel="stylesheet" type="text/css" href="/assets/css/woodcraft/www/font.css" />
	<link rel="stylesheet" type="text/css" href="/assets/css/woodcraft/www/lib.css" />
	<link rel="stylesheet" type="text/css" href="/assets/css/woodcraft/www/layout.css" />
	<link rel="stylesheet" type="text/css" href="/assets/css/woodcraft/www/content.css" />
	<link rel="stylesheet" type="text/css" href="/assets/css/woodcraft/www/template.css" />

	

	<script type="text/javascript" src="/assets/js/woodcraft/www/define/iscroll-min.js"></script>
	<script type="text/javascript" src="/assets/js/woodcraft/www/define/hammer.min.js"></script>
	<script type="text/javascript" src="/assets/js/woodcraft/www/define/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="/assets/js/woodcraft/www/define/jquery.easing.1.3.js"></script>
	<!--[if lt IE 9]>
	<script type="text/javascript" src="/assets/js/woodcraft/www/define/html5shiv.min.js"></script>
	<script type="text/javascript" src="/assets/js/woodcraft/www/define/selectivizr.js"></script>
	<script type="text/javascript" src="/assets/js/woodcraft/www/define/respond.min.js"></script>
	<script type="text/javascript" src="/assets/js/woodcraft/www/define/jquery.backgroundSize.js"></script>
	<![endif]-->
	<script type="text/javascript" src="/assets/js/woodcraft/www/lib_define.js"></script>
	<script type="text/javascript" src="/assets/js/woodcraft/www/lib_scroll.js"></script>
	<script type="text/javascript" src="/assets/js/woodcraft/www/lib.js"></script>

	<!-- iamport.payment.js -->
	<script type="text/javascript" src="https://service.iamport.kr/js/iamport.payment-1.1.5.js"></script>
	<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
</head>
<body>
	<div id="container">

		<noscript>
			<p>JavaScript has been disabled. This site requires JavaScript for full functionality, please enable.</p>
		</noscript>

		<!-- #skipnav -->
		<div id="skipnav">
			<ul>
				<li><a href="#body">본문 바로가기</a></li>
			</ul>
		</div>
		<!-- /#skipnav -->

		






<hr class="dpn"/>

<!-- #head -->
<div id="head" class="init">

	<!-- #head_s1 -->
	<div id="head_s1" class="clearfix">

		<!-- container -->
		<div class="container">
			<!-- gn1 -->
			<div id="gn1">
				<strong class="blind">Global Navigation</strong>
				<ul>
					<li><a href='/html/woodcraft/index.html' target="_blank">사이트맵(템플릿임시)</a></li>
					
					<li><a href='/mypage/myInfo.do'>마이페이지</a></li>
					<li><a href='/mypage/wcrfBskt.do'>장바구니</a></li>
					
					
					
					<li><a href="/uat/uia/actionLogout.do">로그아웃</a></li>
					
					<li class="m1">
						<a href="http://www.jinju.go.kr" target="_blank" title="새 창"><i class="ic1"></i>진주시</a>
					</li>
					<li class="m2">
						<a href="http://tour.jinju.go.kr/" target="_blank" title="새 창"><i class="ic1"></i>문화관광</a>
					</li>
					
					<li class="manager">
						<a href="/EgovIndex.do" target="_blank" title="새 창"><i class="ic1"></i>관리자</a>
					</li>
					
				</ul>
			</div>
			<!-- /gn1 -->
			<h1 id="logo">
				<a href='/' title="홈으로 이동">
					<img src="/assets/images/woodcraft/www/layout/logo@2x.png" alt="진주목공예전수관"/>
				</a>
			</h1>
		</div>
		<!-- /container -->

	</div>
	<!-- /#head_s1 -->

	<!-- #head_s2 -->
	<div id="head_s2" class="clearfix">
		<!-- container -->
		<div class="container">
			<h2 class="blind">상단 메뉴</h2>

			<!-- tnb1 [jQ] -->
			<div id="tnb1">
				<h3 class="blind">주 메뉴</h3>
				<strong class="h1">
					<a href="#tnb1c" class="b1 toggle">
						<i class="ic1 bsContain"></i><span class="t1 blind">주 메뉴</span><span class="blind">여닫기</span>
					</a>
				</strong>
				<!-- tnb1c -->
				<div id="tnb1c">
					<div class="bg"></div>

					<!-- cont -->
					<div class="cont">
						<a href="#tnb1c" class="b2 close">
							<i class="ic1 bsContain"></i><span class="t1 blind">주 메뉴</span><span class="blind">닫기</span>
						</a>
						<!-- tnb1head_s1 -->
						<div id="tnb1head_s1">
							<!-- tnb1gn1 -->
							<div id="tnb1gn1">
								<strong class="blind">Global Navigation</strong>
								<ul>
									
									
									<li>
										<a href="/uat/uia/actionLogout.do">
											<i class="ic1 bsContain"></i><span class="t1">로그아웃</span
										></a>
									</li>
									
								</ul>
							</div>
							<!-- tnb1gn1 -->

							<!-- tnb1gn2 -->
							<div id="tnb1gn2">
								<strong class="blind">Global Navigation</strong>
								<ul>
									
									<li>
										<a href="/mypage/wcrfBskt.do" target="_blank" title="새 창">
											<i class="ic1 bsContain"></i><span class="t1">장바구니</span><span class="num1">1</span>
										</a>
									</li>
									<li>
										<a href="/mypage/myInfo.do" target="_blank" title="새 창">
											<i class="ic2 bsContain"></i><span class="t1">마이페이지</span>
										</a>
									</li>
									<li><a href="/mypage/myInfo.do" target="_blank" title="새 창">
											<i class="ic3 bsContain"></i><span class="t1">나의 정보</span>
										</a>
									</li>
									
									
								</ul>
							</div>
							<!-- /tnb1gn2 -->
						</div>
						<!-- /tnb1head_s1 -->

						
						<!-- d1 -->
						<div class="d1">

							<div class="bg"></div>
							
								
							<ul>
								
									
										
											

											
												
												
								<li class="m1">
												
											

									<a href="javascript:;">
										<i class="ic1"></i><span class="t1">전수관소개</span>
									</a>
									<div class="d2">
										<div class="bg"></div>
										<ul>
										
										
									

								
									
										
										
											
												
												
													<li class="m1">
												
											
											
												
												
													<a href="/intro/greeting.do">
												
											
													<i class="ic1"></i><span class="t1">인사말</span>
												</a>
											</li>
										
									

								
									
										
										
											
												
												
													<li class="m2">
												
											
											
												
												
													<a href="/intro/history.do">
												
											
													<i class="ic1"></i><span class="t1">주요연혁</span>
												</a>
											</li>
										
									

								
									
										
										
											
												
												
													<li class="m3">
												
											
											
												
												
													<a href="/intro/ideology.do">
												
											
													<i class="ic1"></i><span class="t1">이념 및 목표</span>
												</a>
											</li>
										
									

								
									
										
										
											
												
												
													<li class="m4">
												
											
											
												
												
													<a href="/intro/wcrfFacility.do">
												
											
													<i class="ic1"></i><span class="t1">시설 운영 안내</span>
												</a>
											</li>
										
									

								
									
										
										
											
												
												
													<li class="m5">
												
											
											
												
												
													<a href="/intro/wcrfRoad.do">
												
											
													<i class="ic1"></i><span class="t1">오시는 길</span>
												</a>
											</li>
										
									

								
									
										
											
										</ul>
									</div>
								</li>
											

											
												
												
								<li class="m2">
												
											

									<a href="javascript:;">
										<i class="ic1"></i><span class="t1">전수관 둘러보기</span>
									</a>
									<div class="d2">
										<div class="bg"></div>
										<ul>
										
										
									

								
									
										
										
											
												
												
													<li class="m1">
												
											
											
												
												
													<a href="/tour/buildingInfo.do">
												
											
													<i class="ic1"></i><span class="t1">주요시설</span>
												</a>
											</li>
										
									

								
									
										
										
											
												
												
													<li class="m2">
												
											
											
												
												
													<a href="/tour/sideFacility.do">
												
											
													<i class="ic1"></i><span class="t1">부대시설</span>
												</a>
											</li>
										
									

								
									
										
										
											
												
												
													<li class="m3">
												
											
											
												
												
													<a href="/tour/equipInfo.do">
												
											
													<i class="ic1"></i><span class="t1">시설물(장비) 안내</span>
												</a>
											</li>
										
									

								
									
										
										
											
												
												
													<li class="m4">
												
											
											
												
												
													<a href="/tour/equipRegit.do">
												
											
													<i class="ic1"></i><span class="t1">시설물 사용신청</span>
												</a>
											</li>
										
									

								
									
										
											
										</ul>
									</div>
								</li>
											

											
												
												
								<li class="m3">
												
											

									<a href="javascript:;">
										<i class="ic1"></i><span class="t1">목공예 전시물</span>
									</a>
									<div class="d2">
										<div class="bg"></div>
										<ul>
										
										
									

								
									
										
										
											
												
												
													<li class="m1">
												
											
											
												
												
													<a href="/wcrf/wcrfIntro.do">
												
											
													<i class="ic1"></i><span class="t1">목공예란</span>
												</a>
											</li>
										
									

								
									
										
										
											
												
												
													<li class="m2">
												
											
											
												
												
													<a href="/wcrf/artistList.do">
												
											
													<i class="ic1"></i><span class="t1">목공예인 소개</span>
												</a>
											</li>
										
									

								
									
										
										
											
												
												
													<li class="m3">
												
											
											
												
												
													<a href="/wcrf/wcrfList.do">
												
											
													<i class="ic1"></i><span class="t1">목공예품 구매</span>
												</a>
											</li>
										
									

								
									
										
											
										</ul>
									</div>
								</li>
											

											
												
												
								<li class="m4">
												
											

									<a href="javascript:;">
										<i class="ic1"></i><span class="t1">교육/체험</span>
									</a>
									<div class="d2">
										<div class="bg"></div>
										<ul>
										
										
									

								
									
										
										
											
												
												
													<li class="m1">
												
											
											
												
												
													<a href="/prgm/prgmIntro.do">
												
											
													<i class="ic1"></i><span class="t1">교육 프로그램 안내</span>
												</a>
											</li>
										
									

								
									
										
										
											
												
												
													<li class="m2">
												
											
											
												
												
													<a href="/prgm/prgmList.do">
												
											
													<i class="ic1"></i><span class="t1">교육 프로그램 예약</span>
												</a>
											</li>
										
									

								
									
										
										
											
												
												
													<li class="m3">
												
											
											
												
												
													<a href="/exprn/exprnIntro.do">
												
											
													<i class="ic1"></i><span class="t1">일일 체험</span>
												</a>
											</li>
										
									

								
									
										
										
											
												
												
													<li class="m4">
												
											
											
												
												
													<a href="/exprn/exprnList.do">
												
											
													<i class="ic1"></i><span class="t1">일일 체험 예약</span>
												</a>
											</li>
										
									

								
									
										
											
										</ul>
									</div>
								</li>
											

											
												
												
								<li class="m5">
												
											

									<a href="javascript:;">
										<i class="ic1"></i><span class="t1">커뮤니티</span>
									</a>
									<div class="d2">
										<div class="bg"></div>
										<ul>
										
										
									

								
									
										
										
											
												
												
													<li class="m1">
												
											
											
												
												
													<a href="/community/list/000000000011.do">
												
											
													<i class="ic1"></i><span class="t1">공지사항</span>
												</a>
											</li>
										
									

								
									
										
										
											
												
												
													<li class="m2">
												
											
											
												
												
													<a href="/community/list/000000000012.do">
												
											
													<i class="ic1"></i><span class="t1">방문후기</span>
												</a>
											</li>
										
									

								
									
										
										
											
												
												
													<li class="m3">
												
											
											
												
												
													<a href="/community/list/000000000021.do">
												
											
													<i class="ic1"></i><span class="t1">소통갤러리</span>
												</a>
											</li>
										
									

								
									
										
										
											
												
												
													<li class="m4">
												
											
											
												
												
													<a href="/community/list/000000000022.do">
												
											
													<i class="ic1"></i><span class="t1">자유게시판</span>
												</a>
											</li>
										
									

								
									
										
											
										</ul>
									</div>
								</li>
											

											
												
												
								<li class="m6">
												
											

									<a href="javascript:;">
										<i class="ic1"></i><span class="t1">관광정보</span>
									</a>
									<div class="d2">
										<div class="bg"></div>
										<ul>
										
										
									

								
									
										
										
											
												
												
													<li class="m1">
												
											
											
												
													<a href="http://www.naver.com" target="_blank" title="진주시 소개">
												
												
											
													<i class="ic1"></i><span class="t1">진주시 소개</span>
												</a>
											</li>
										
									

								
									
										
										
											
												
												
													<li class="m2">
												
											
											
												
													<a href="http://www.daum.com" target="_blank" title="문화관광">
												
												
											
													<i class="ic1"></i><span class="t1">문화관광</span>
												</a>
											</li>
										
									

								
									
										
										
											
												
												
													<li class="m3">
												
											
											
												
													<a href="http://www.nate.com" target="_blank" title="숙박시설">
												
												
											
													<i class="ic1"></i><span class="t1">숙박시설</span>
												</a>
											</li>
										
									

								
									
										
										
											
												
												
													<li class="m4">
												
											
											
												
													<a href="http://www.gndo.go.kr" target="_blank" title="음식정보">
												
												
											
													<i class="ic1"></i><span class="t1">음식정보</span>
												</a>
											</li>
										
									

								
									
										
										
											
												
												
													<li class="m5">
												
											
											
												
													<a href="http://www.google.co.kr" target="_blank" title="교통정보">
												
												
											
													<i class="ic1"></i><span class="t1">교통정보</span>
												</a>
											</li>
										
									

								
									
										
										
											
												
												
													<li class="m6">
												
											
											
												
													<a href="http://www.twogoms.com" target="_blank" title="오시는길">
												
												
											
													<i class="ic1"></i><span class="t1">오시는길</span>
												</a>
											</li>
										
									

								
										</ul>
									</div>
								</li>
							</ul>
							

						</div>
						<!-- /d1 -->
						

						<a href="#tnb1c" class="b2 close">
							<i class="ic1 bsContain"></i><span class="t1 blind">주 메뉴</span><span class="blind">닫기</span>
						</a>

					</div>
					<!-- /cont -->

				</div>
				<!-- /tnb1c -->

			</div>
			<!-- /tnb1 -->

		</div>
		<!-- /container -->

	</div>
	<!-- /#head_s2 -->

</div>
<!-- /#head -->

<hr class="dpn"/>

		<!-- #wrap -->
		<div id="wrap">
			
        
            
            
        





<!-- #sidebar -->





<div id="sidebar" class="clearfix init">
	<div class="container">
		<h2 class="blind">목공예 구매내역</h2>
		<strong class="h1 blind">부 메뉴</strong>
		<div class="snb">
			<ul>
				
				
					
						
						
							<li>
						
					
					<a href="/mypage/myinfo.do">나의 정보</a>
					</li>
				
					
						
						
							<li>
						
					
					<a href="/mypage/wcrfBskt.do">장바구니</a>
					</li>
				
					
						
							<li class="on">
						
						
					
					<a href="/mypage/wcrfMyPayList.do">목공예 구매내역</a>
					</li>
				
					
						
						
							<li>
						
					
					<a href="/mypage/exprnMyList.do">체험 신청/취소 현황</a>
					</li>
				
					
						
						
							<li>
						
					
					<a href="/mypage/prgmMyList.do">프로그램 신청/취소 현황</a>
					</li>
				
				
			</ul>
		</div>
	</div>
</div>
<!-- /#sidebar -->

<hr class="dpn"/>

    
			<!-- #body -->
			<div id="body">

				<!-- container -->
				<div class="container clearfix">
					<!-- #forPrint -->
					<div id="forPrint">
						<!-- #body_head -->
						<div id="body_head" class="init">
							<!-- body_head_s1 -->
							<div id="body_head_s1">
								<div id="body_title">
									<h1 class="hb1 h1">목공예 구매내역 </h1>
								</div>
								<!-- location1 -->
								<div id="location1">
									<div class="breadcrumb clearfix">
										<strong class="blind">현재페이지 위치:</strong>
										<span class="cont">
											<a href='/' class='home' title='홈'>홈</a>
											<span class='sep'>&gt;</span>
											<a href='javascript:;'>마이페이지</a>
											<span class='sep'>&gt;</span>
											<a href='javascript:;' class="on">목공예 구매내역</a>
										</span>
									</div>
								</div>
								<!-- /location1 -->
							</div>
							<!-- /body_head_s1 -->

							
						</div>
						<!-- /#body_head -->

						<!-- #body_content -->
						<div id="body_content" class="body_content init">
							
							

        <!-- #body_content -->
        <div id="body_content" class="body_content init">

            <!-- 주문/결재 작성 폼 -->
            <form id="WcrfRefdForm" action="/mypage/wcrfMyPayView.do" method="post">

                <!-- fieldset -->
                <fieldset><legend class="blind">주문/결재 작성 폼</legend>
                    <h2 class="hb1 h2">주문리스트</h2>

                    <!-- cart_list -->
                    <div class="cart_list">
                        <table class="t1">
                            <caption class="blind">
                                <strong class="h1">장바구니 목록</strong>
                            </caption>
                            <thead>
                            <tr>
                                <th class="cart_title" scope="col">제품</th>
                                <th class="cart_num" scope="col">수량</th>
                                <th class="cart_price" scope="col">가격</th>
                                <!--<th class="cart_delivery" scope="col">배송비</th>-->
                            </tr>
                            </thead>
                            <tbody>

                            
                                <tr>
                                    <td class="cart_title">
                                        <a href="#" class="a1"><span class="f1"><img src="/cmm/fms/getImage.do?atchFileId=" alt="" /></span>
                                            <span class="text1">목공예품2</span></a>
                                    </td>
                                    <td class="cart_num">3</td>
                                    <td class="cart_price">
                                        
                                         60,000.00
                                    </td>
                                    <!--<td class="cart_delivery">3,000</td>-->
                                </tr>
                            
                                <tr>
                                    <td class="cart_title">
                                        <a href="#" class="a1"><span class="f1"><img src="/cmm/fms/getImage.do?atchFileId=" alt="" /></span>
                                            <span class="text1">하회탈</span></a>
                                    </td>
                                    <td class="cart_num">2</td>
                                    <td class="cart_price">
                                        
                                         40,000.00
                                    </td>
                                    <!--<td class="cart_delivery">3,000</td>-->
                                </tr>
                            

                            </tbody>
                        </table>
                    </div>
                    <!-- / cart_list -->

                    <h2 class="hb1 h2">주문자 정보</h2>
                    <!-- bbs_write -->
                    <div class="bbs_write">
                        <table class="t1">
                            <caption class="blind">
                                <strong class="h1">주문자 정보 작성 폼</strong>
                                </caption>
                                <col class="order_td_w1" /><col />
                            <tbody>
                            <tr>
                                <th scope="row"><label>이름</label></th>
                                <td><span class="t1r1">테스트1</span></td>
                            </tr>
                            <tr>
                                <th scope="row"><label>메일주소</label></th>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row"><label>연락처</label></th>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /bbs_write -->

                    <h2 class="hb1 h2">배송지 정보</h2>
                    <!-- bbs_write -->
                    <div class="bbs_write">
                        <table class="t1">
                            <caption class="blind">
                                <strong class="h1">주문자 정보 작성 폼</strong>
                            </caption>
                            <col class="order_td_w1" /><col />
                            <tbody>
                            <tr>
                                <th scope="row"><label>이름</label></th>
                                <td>테스트1</td>
                            </tr>
                            <tr>
                                <th scope="row"><label>전화번호</label></th>
                                <td>010-1566-2059</td>
                            </tr>
                            <tr>
                                <th scope="row"><label>연락처</label></th>
                                <td>--</td>
                            </tr>
                            <tr>
                                <th scope="row"><label>주소</label></th>
                                <td>
                                    100775
                                    <!--<span class="vam">-</span>
                                    <input type="text" id="txt_orerZip2" name="orerZip2" size="3" maxlength="3" placeholder="000" title="우편번호 뒷자리" />-->
                                    <br />
                                    서울 중구 무교동 한국정보화진흥원
                                    <br />
                                    전자정부표준프레임워크센터
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"><label>주문메세지</label></th>
                                <td></td>
                            </tr>
                            <!--<tr>
                                <th scope="row"><label for="f1name">무통장 입금자명</label></th>
                                <td><input type="text" id="f1name" placeholder="실명" />
                                    <span class="explain ">* 주문자와 같을 경우 생략 가능</span>
                                </td>
                            </tr>-->
                            </tbody>
                        </table>

                    </div>
                    <!-- /bbs_write -->

                    <h2 class="hb1 h2">결제 금액</h2>
                    <!-- order_list -->
                    <div class="order_list">
                        <table class="t1">
                            <caption class="blind">
                                <strong class="h1">결제 금액</strong>
                            </caption>
                            <col style="width:30%" />
                            <col style="width:5%" />
                            <col style="width:30%" />
                            <col style="width:5%" />
                            <col style="width:30%" />
                            <thead>
                            <tr>
                                <th scope="col">상품금액</th>
                                <th scope="col"></th>
                                <th scope="col">배송비</th>
                                <th scope="col"></th>
                                <th scope="col">결제금액</th>
                            </tr>
                            <thead>
                            <tbody>
                            <tr>
                                <td>
                                    
                                     260,000.00원
                                </td>
                                <td><i class="ic1 bsContain"></i></td>
                                <td>3,000원</td>
                                <td><i class="ic2 bsContain"></i></td>
                                <td class="order_total_price">
                                    
                                     263,000.00원
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- / order_list -->

                    <h2 class="hb1 h2">결제 정보 및 주문 상태</h2>
                    <!-- bbs_write -->
                    <div class="bbs_write">
                        <table class="t1">
                            <caption class="blind">
                                <strong class="h1">주문자 정보 작성 폼</strong>
                            </caption>
                            <col class="order_td_w1" /><col />
                            <tbody>
                            <tr>
                                <th scope="row">결제방법</th>
                                <td>신용카드</td>
                            </tr>
                            <tr>
                                <th scope="row">주문상태</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">송장번호</th>
                                <td>22222</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
					<!-- /bbs_write -->
					
                    <h2 class="hb1 h2">주문 취소 및 환불</h2>
                    <!-- bbs_write -->
                    <div class="bbs_write">
                        <table class="t1">
                            <caption class="blind">
                                <strong class="h1">주문 취소 및 환불</strong>
                            </caption>
                            <col style="width:15%" />
                            <col />
                            <tbody>
                            <tr>
                                <th scope="row"><label for="txt_refdSe">환불방법</label></th>
                                <td>
                                    <select id="txt_refdSe" title="환불방법">
                                        <option value=""></option>
                                        <option value="01">카드승인취소</option>
                                        <option value="02">계좌입금</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"><label for="txt_refdReqDt">반품/취소신청일자</label></th>
                                <td>
                                    <input type="tel" id="txt_refdReqDt" name="refdReqDt" size="20" maxlength="20" title="반품/취소신청일자" value="" />
								</td>
                            </tr>
                            <tr>								
                                <th scope="row"><label for="txt_refdResnCd">반품/취소사유</label></th>
                                <td>
                                    <select id="txt_refdResnCd" title="반품/취소사유">
                                        <option value=""></option>
                                        <option value="01">단순변심</option>
                                        <option value="02">계좌입금</option>
                                        <option value="03">계좌입금</option>
                                    </select>
								</td>
                            </tr>
                            <tr>								
                                <th scope="row"><label for="txt_refdSttusCd">진행상태</label></th>
                                <td>
                                    <select id="txt_refdSttusCd" title="진행상태">
                                        <!--<option value=""></option>-->
                                        <option selected value="01">신청</option>
                                        <!--<option value="02">접수</option>-->
                                        <!--<option value="03">완료</option>-->
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"><label for="txt_refdBankOwr">예금주</label></th>
                                <td>
                                    <input type="text" id="txt_refdBankOwr" name="refdBankOwr" size="20" maxlength="20" title="예금주" value="" />
								</td>
                            </tr>
                            <tr>								
                                <th scope="row"><label for="txt_refdBank">은행명</label></th>
                                <td>
                                    <input type="text" id="txt_refdBank" name="refdBank" size="20" maxlength="20" title="은행명" value="" />
								</td>
                            </tr>
                            <tr>								
                                <th scope="row"><label for="txt_refdAccNo">계좌번호</label></th>
                                <td>
                                    <input type="text" id="txt_refdAccNo" name="refdAccNo" size="20" maxlength="20" title="계좌번호" value="" />
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"><label for="txt_returnCn">반품취소사유</label></th>
                                <td>
                                    <textarea id="txt_returnCn" name="returnCn" rows="5" cols="80" class="w100" value=""></textarea></td>
                            </tr>
                            <tr>
                                <th scope="row"><label for="txt_refdRsltCn">처리내용</label></th>
                                <td>
                                    <textarea id="txt_refdRsltCn" name="refdRsltCn" rows="5" cols="80" class="w100" value=""></textarea></td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                    <!-- /bbs_write -->

                </fieldset>
                <!-- //fieldset -->
                <!-- infosection1 -->
                <div class="infosection1">
                    <p class="tac">
                        <button id="btn_save" class="button submit">주문취소 / 환불</button>
                        <a href="?" class="button">목록</a>
                    </p>
                </div>
                <!-- /infosection1 -->

            </form>
            <!-- //주문/결재 작성 폼 -->

        </div>
        <!-- /#body_content -->

    

						</div>
						<!-- /#body_content -->
					</div>
					<!-- /#forPrint -->
				</div>
				<!-- /container -->

			</div>
			<!-- /#body -->

		</div>
		<!-- /#wrap -->
		<hr class="dpn"/>

		

<!-- #foot -->
<div id="foot" class="init">
	<h2 class="blind">하단 정보</h2>

	<!-- fn1 -->
	<div id="fn1">
		<div class="container init">
			<ul>
				<li>
					<a href="http://www.jinju.go.kr/07guide/sitereport.jsp?amode=private&amp;pagesize=1000&amp;cpage=1&amp;gcode=1084"
					   target="_blank" title="새 창">홈페이지 개선의견</a></li>
				<li><a href="http://www.jinju.go.kr/07guide/privacy.jsp" target="_blank" title="새 창">개인정보 처리방침</a>
				</li>
				<li><a href="http://www.jinju.go.kr/07guide/copyright.jsp" target="_blank" title="새 창">저작권 정책</a>
				</li>
				<li><a href="http://www.jinju.go.kr/07guide/viewer.jsp" target="_blank" title="새 창">뷰어프로그램</a></li>
				<li><a href="?">웹마스터 메일</a></li>
			</ul>
		</div>
	</div>
	<!-- /fn1 -->

	<!-- container -->
	<div class="container">
		<p id="foot_logo"><img src="/assets/images/woodcraft/www/layout/foot_logo@2x.png" alt="진주시"/></p>
		<!-- author1 -->
		<div id="author1">
			<strong class="h1 blind">작성자 (연락처/저작권)</strong>
			<address class="address">
				52641 경상남도 진주시 명석면 광제산로 367 <a href="http://www.juso.go.kr/openIndexPage.do" target="_blank"
				                               title="새 창">도로명주소검색</a> <span class="dpib">대표전화 : <span class="ls0">055-749-2114</span> / 팩스 : <span
				class="ls0">055-749-2800</span></span>
			</address>
			<p class="nophishing">본 사이트에 게시된 이메일주소의 자동수집을 거부하며 이를 위반시 정보통신망법에 의해 형사처벌됩니다.</p>
			<address class="copyright">Copyright ⓒ 2018 Jinju City ALL RIGHTS RESERVED.</address>
		</div>
		<!-- /author1 -->
	</div>
	<!-- /container -->
</div>
<!-- /#foot -->


	</div>

	

        <script type="text/javascript">

            $(document).ready(function() {

                $("#btn_save").click(function() {

                    var view_url = "/mypage/wcrfRefdSave.do";

                    $("#WcrfRefdForm")
                        .attr("action", view_url)
                        .submit();


                });

            });

        </script>

    
</body>
</html>